In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import clear_output

from datetime import datetime, timedelta, date #for time duration calculations
from dateutil.parser import parse #for fuzzy finding year

# Feature Scaling
from sklearn.preprocessing import StandardScaler




import pickle #for saving output files, pickles
from sys import stdout
import time #for time.sleep function to delay calls
from tqdm import tqdm #for updating loop
#from os import listdir
#from os.path import isfile, join
import glob #pattern matching and expansion.

## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy.sql import table, column, select, update, insert
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

import pandas as pd

#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'donors_db'
username = 'russell'
pswd = 'bradypodion'

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://russell:bradypodion@localhost/donors_db
postgresql://russell:bradypodion@localhost/donors_db

In [4]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://russell:bradypodion@localhost/donors_db

In [5]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [6]:
###########################################################
### query: from historical data
hist_query = """
SELECT * FROM hist_projects;\n"""


hist_state = pd.read_sql_query(hist_query,con)
orig_hist_rows = len(hist_state.index)
hist_state = hist_state.drop_duplicates(keep='first')
dedup_hist_rows = len(hist_state.index)

print("Historical Raw Obs = "+str(orig_hist_rows)+"\nDeDup Obs = "+str(dedup_hist_rows))

Historical Raw Obs = 1425169
DeDup Obs = 1425169

In [7]:
### Close communication with the database
con.close()

In [8]:
############# previous EDA suggests these are all abberant classes with less than 100 values
hist_state=hist_state[hist_state.school_state != 'La']
hist_state=hist_state[hist_state.teacher_prefix != 'Mr. & Mrs.']
hist_state=hist_state[hist_state.teacher_prefix != 'Mr. & Mrs. ']

In [9]:
hist_state['succeed']= np.where(hist_state['funding_status']=='completed', 1, 0)

In [10]:
#replace 'f' and 't' with 'true' and 'false' for these columns
#https://stackoverflow.com/a/34697070/1602288

hist_state[['school_charter','school_magnet','school_year_round','school_nlns','school_kipp',
            'school_charter_ready_promise','teacher_teach_for_america','eligible_double_your_impact_match','eligible_almost_home_match']]= hist_state[['school_charter','school_magnet','school_year_round','school_nlns','school_kipp',
                             'school_charter_ready_promise','teacher_teach_for_america','eligible_double_your_impact_match','eligible_almost_home_match']].replace(['f','t'], ['false', 'true'])

#make new columns for posting time info, from splitting posting date = date_posted
hist_state[['posting_year','posting_month','posting_day']]=hist_state['date_posted'].str.split("-",expand=True)

In [11]:
hist_state.columns

Index(['index', '_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_zip', 'school_metro', 'school_district', 'school_county',
       'school_charter', 'school_magnet', 'school_year_round', 'school_nlns',
       'school_kipp', 'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'primary_focus_subject',
       'primary_focus_area', 'secondary_focus_subject', 'secondary_focus_area',
       'resource_type', 'poverty_level', 'grade_level',
       'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges',
       'fulfillment_labor_materials', 'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'total_donations', 'num_donors', 'eligible_double_your_impact_match',
       'eligible_almost_home_match', 'funding_status', 'date_posted',
       'date_completed', 'date_thank_you_packet_mailed', 'date_expiration',
       'calendar_completed', 'year_completed', 'calendar_expired', 'succeed',
       'posting_year', 'posting_month', 'posting_day'],
      dtype='object')

In [12]:
trimmed=hist_state[['school_state','school_metro','school_charter', 'school_magnet', 'school_year_round','teacher_prefix',
       'teacher_teach_for_america', 'primary_focus_subject','resource_type', 'poverty_level', 'grade_level',
                      'total_price_excluding_optional_support','students_reached','posting_month','succeed']]

In [15]:

trimmed['posting_month']=pd.to_numeric(trimmed['posting_month'])
trimmed.head(3)

<ipython-input-15-d56aea37b5da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed['posting_month']=pd.to_numeric(trimmed['posting_month'])

,school_state,school_metro,school_charter,school_magnet,school_year_round,teacher_prefix,teacher_teach_for_america,primary_focus_subject,resource_type,poverty_level,grade_level,total_price_excluding_optional_support,students_reached,posting_month,succeed
0,IN,urban,false,false,false,Mrs.,false,Literacy,Books,high,Grades PreK-2,813.50,24.0,4,0
1,CA,urban,false,false,false,Ms.,false,Mathematics,Supplies,high,Grades PreK-2,463.78,23.0,4,1
2,WV,urban,false,false,false,Ms.,false,Literacy,Books,high,Grades 6-8,168.47,300.0,4,1

In [16]:
# One-hot encode categorical features
features = pd.get_dummies(trimmed)
features.head(5)

,total_price_excluding_optional_support,students_reached,posting_month,succeed,school_state_AK,school_state_AL,school_state_AR,school_state_AZ,school_state_CA,school_state_CO,school_state_CT,school_state_DC,school_state_DE,school_state_FL,school_state_GA,school_state_HI,school_state_IA,school_state_ID,school_state_IL,school_state_IN,school_state_KS,school_state_KY,school_state_LA,school_state_MA,school_state_MD,school_state_ME,school_state_MI,school_state_MN,school_state_MO,school_state_MS,school_state_MT,school_state_NC,school_state_ND,school_state_NE,school_state_NH,school_state_NJ,school_state_NM,school_state_NV,school_state_NY,school_state_OH,school_state_OK,school_state_OR,school_state_PA,school_state_RI,school_state_SC,school_state_SD,school_state_TN,school_state_TX,school_state_UT,school_state_VA,school_state_VT,school_state_WA,school_state_WI,school_state_WV,school_state_WY,school_metro_rural,school_metro_suburban,school_metro_urban,school_charter_false,school_charter_true,school_magnet_false,school_magnet_true,school_year_round_false,school_year_round_true,teacher_prefix_Dr.,teacher_prefix_Mr.,teacher_prefix_Mrs.,teacher_prefix_Ms.,teacher_prefix_Teacher,teacher_teach_for_america_false,teacher_teach_for_america_true,primary_focus_subject_Applied Sciences,primary_focus_subject_Character Education,primary_focus_subject_Civics & Government,primary_focus_subject_College & Career Prep,primary_focus_subject_Community Service,primary_focus_subject_ESL,primary_focus_subject_Early Development,primary_focus_subject_Economics,primary_focus_subject_Environmental Science,primary_focus_subject_Extracurricular,primary_focus_subject_Financial Literacy,primary_focus_subject_Foreign Languages,primary_focus_subject_Gym & Fitness,primary_focus_subject_Health & Life Science,primary_focus_subject_Health & Wellness,primary_focus_subject_History & Geography,primary_focus_subject_Literacy,primary_focus_subject_Literature & Writing,primary_focus_subject_Mathematics,primary_focus_subject_Music,primary_focus_subject_Nutrition,primary_focus_subject_Other,primary_focus_subject_Parent Involvement,primary_focus_subject_Performing Arts,primary_focus_subject_Social Sciences,primary_focus_subject_Special Needs,primary_focus_subject_Sports,primary_focus_subject_Team Sports,primary_focus_subject_Visual Arts,resource_type_Books,resource_type_Other,resource_type_Supplies,resource_type_Technology,resource_type_Trips,resource_type_Visitors,poverty_level_high,poverty_level_high poverty,poverty_level_highest poverty,poverty_level_low,poverty_level_low poverty,poverty_level_minimal,poverty_level_moderate poverty,poverty_level_unknown,grade_level_Grades 3-5,grade_level_Grades 6-8,grade_level_Grades 9-12,grade_level_Grades PreK-2
0,813.50,24.0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
1,463.78,23.0,4,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,168.47,300.0,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
3,266.19,20.0,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
4,255.56,30.0,4,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0

In [18]:
count_failed= len(features[features['succeed']==0])
count_funded = len(features[features['succeed']==1])
pct_of_fail = count_failed/(count_failed+count_funded)
print("percentage of failed projects is ", pct_of_fail*100)
pct_of_fund = count_funded/(count_failed+count_funded)
print("percentage of funded projects is ", pct_of_fund*100)

percentage of failed projects is  30.127655931724107
percentage of funded projects is  69.8723440682759

In [19]:
trimmed.groupby('grade_level').mean()

,total_price_excluding_optional_support,students_reached,posting_month,succeed
grade_level,,,,
Grades 3-5,559.407788,105.059721,6.875174,0.691122
Grades 6-8,643.057042,143.307576,6.997325,0.689870
Grades 9-12,741.970195,145.020644,6.849046,0.718190
Grades PreK-2,532.496423,48.743034,6.760786,0.701651

In [20]:
trimmed.groupby('poverty_level').mean()

,total_price_excluding_optional_support,students_reached,posting_month,succeed
poverty_level,,,,
high,546.684067,101.183849,6.850886,0.713140
high poverty,593.300242,96.026334,6.785207,0.671637
highest poverty,583.948732,93.826109,6.828185,0.719434
low,465.771841,98.622535,6.949976,0.600960
low poverty,1001.917020,96.252392,7.111361,0.675933
minimal,482.672917,102.653211,6.825855,0.641701
moderate poverty,627.288693,98.672477,6.974027,0.668221
unknown,526.276866,91.040689,7.032081,0.717527

In [21]:
trimmed.groupby('resource_type').mean()#resource_type

,total_price_excluding_optional_support,students_reached,posting_month,succeed
resource_type,,,,
Books,430.451821,76.694743,6.899343,0.767527
Other,650.647115,86.527224,6.738092,0.694538
Supplies,460.395412,98.297075,6.793946,0.731780
Technology,764.237644,109.451557,6.946755,0.618607
Trips,1899.684699,75.639477,6.067228,0.730967
Visitors,1193.181542,188.521406,6.977027,0.668291