In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import clear_output

from datetime import datetime, timedelta, date #for time duration calculations
from dateutil.parser import parse #for fuzzy finding year

import pickle #for saving output files, pickles
from sys import stdout
import time #for time.sleep function to delay calls
from tqdm import tqdm #for updating loop
#from os import listdir
#from os.path import isfile, join
import glob #pattern matching and expansion.

## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy.sql import table, column, select, update, insert
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

import pandas as pd

#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'donors_db'
username = 'russell'
pswd = 'bradypodion'

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://russell:bradypodion@localhost/donors_db
postgresql://russell:bradypodion@localhost/donors_db

In [4]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://russell:bradypodion@localhost/donors_db

In [5]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [6]:
###########################################################
### query: from historical data
hist_query = """
SELECT * FROM hist_projects;\n"""


hist_state = pd.read_sql_query(hist_query,con)
orig_hist_rows = len(hist_state.index)
hist_state = hist_state.drop_duplicates(keep='first')
dedup_hist_rows = len(hist_state.index)

print("Historical Raw Obs = "+str(orig_hist_rows)+"\nDeDup Obs = "+str(dedup_hist_rows))

Historical Raw Obs = 1425169
DeDup Obs = 1425169

In [7]:
### Close communication with the database
con.close()

In [ ]:
############# previous EDA suggests these are all abberant classes with less than 100 values
hist_state=hist_state[hist_state.school_state != 'La']
hist_state=hist_state[hist_state.teacher_prefix != 'Mr. & Mrs.']

In [8]:
hist_state['succeed']= np.where(hist_state['funding_status']=='completed', 1, 0)

In [10]:
#https://stackoverflow.com/a/34697070/1602288
#replace 'f' and 't' with 'true' and 'false' for these columns
hist_state[['school_charter','school_magnet','school_year_round','school_nlns','school_kipp','school_charter_ready_promise','teacher_teach_for_america']] = hist_state[['school_charter','school_magnet','school_year_round','school_nlns','school_kipp','school_charter_ready_promise','teacher_teach_for_america']].replace(['f','t'], ['false', 'true'])

In [11]:
for cols in hist_state.columns:
    print(hist_state[cols].value_counts())

83415     2
206029    2
201931    2
203978    2
197833    2
         ..
696106    1
689961    1
692008    1
718631    1
0         1
Name: index, Length: 1139787, dtype: int64
1456cbaf864deeeb3914cd515dbb37d3    2
455f4873591d6b173e31d9d0aa5c9157    2
d2ba9b52c26b45f11d024d8595270309    2
afee15b89814f1143acef70ff89f1f2f    2
9b85b69ebb1287e8d3fc88e8f9244057    2
                                   ..
9251bcd3e7eb2338e2adbb6944c2b23c    1
40e325a6a5031a12eacb71b4b9ffe9b1    1
f1a8880acb0dc9700334bda15b78378e    1
e8ad29c8eaeb1833a82645cd1b9a88d9    1
d7e831a1b51fd43498318c408e78d5c0    1
Name: _projectid, Length: 1139787, dtype: int64
a006826c170f91f85ff80dc5a132fade    485
02bccf5c109ace4f3dcbce819a46daa1    426
9d7051e2611cebdb758f1c7bd09360ac    398
8b0223c947a15bb06a643609cd9adf4b    397
fa2f220b537e8653fb48878ebb38044d    396
                                   ...
e6aaa0897c33fe0fe55cb44251dc1703      1
62544ce7be09d7374db8ce5d21e775c8      1
54348ad6b6ffae51b578a6d1a8f64185      1
01bab219ada87ccbcc5b304df9be9147      1
3d060142347924249dcea8bd65423151      1
Name: _teacher_acctid, Length: 404193, dtype: int64
7f0412c9ac3cea57048543879e4e6318    2056
5de075e3c3852d4fd286c2678da3ee23    1526
cbc7980dd9c16acf8fd026847db21341    1438
ed047ff4a2b7d048537e32aa1312e949    1342
f4759964b2b02180471ed1db57887656    1174
                                    ...
0433a5003d631e45a258a33e4a41c10a       1
d80e298041645c9846a9d8d7d945d71d       1
ec814eb981aa306f547bcd459047be32       1
6863f20082772ef8c377d3c30a206eaa       1
f30c11bd1892570ac8813a23c0c990b3       1
Name: _schoolid, Length: 72525, dtype: int64
1.709930e+11    2056
6.162300e+10    1438
6.221100e+10    1147
1.804770e+11    1088
3.600091e+11    1053
                ...
6.178500e+10       1
8.061200e+10       1
2.700099e+11       1
3.305280e+11       1
2.400120e+11       1
Name: school_ncesid, Length: 66484, dtype: int64
41.745142    2056
40.676156    1547
40.631962    1342
35.216339    1174
37.684967    1147
             ...
40.606348       1
40.246950       1
43.514964       1
39.149773       1
38.682010       1
Name: school_latitude, Length: 71027, dtype: int64
-87.717264     2056
-73.880158     1526
-73.923897     1342
-80.686729     1174
-121.742363    1147
               ...
-75.075464        1
-97.750063        1
-73.031156        1
-81.858269        1
-70.337261        1
Name: school_longitude, Length: 71057, dtype: int64
New York City    86744
Chicago          57554
Los Angeles      37373
Indianapolis     18908
Houston          18907
                 ...
Warba                1
Round Top            1
Freemansburg         1
Winner               1
Newsons              1
Name: school_city, Length: 10398, dtype: int64
CA    243799
NY    149420
NC     90404
TX     87241
IL     83250
FL     66420
SC     45309
IN     37873
GA     36957
PA     33476
OK     33248
MI     29673
TN     28064
LA     27030
MO     26325
WA     25103
VA     24695
AZ     23622
MA     23211
NJ     22940
MD     20368
OH     19218
UT     19208
NV     17861
CT     17564
WI     16191
MS     15650
OR     15629
CO     14631
AL     14590
DC     13648
AR     12588
MN     10458
KY     10240
IA      7350
ME      7154
KS      6549
HI      6253
NM      5774
ID      5488
WV      5476
RI      4295
NE      3410
DE      3406
NH      3288
AK      3155
SD      2345
MT      2127
VT      1214
ND      1178
WY       797
La         6
Name: school_state, dtype: int64
10456.0    4212
10457.0    3378
60609.0    3245
10451.0    3157
10460.0    3091
           ...
52721.0       1
79372.0       1
52747.0       1
52753.0       1
67860.0       1
Name: school_zip, Length: 18848, dtype: int64
urban       739740
suburban    388351
rural       156006
Name: school_metro, dtype: int64
New York City Dept Of Ed         79113
Los Angeles Unif Sch Dist        65636
Philadelphia City School Dist    16988
Clark Co School District         15644
Hillsborough Co Pub Sch Dist     14077
                                 ...
Walnut Springs Ind Sch Dist          1
Bridgewater-raynham Reg SD           1
Cambridge Cmty Unit Sd 227           1
Waverly South Shore Sd 14-5          1
Lyons Twp Hs District 204            1
Name: school_district, Length: 11738, dtype: int64
Los Angeles         86583
Cook                64117
Bronx               37491
Kings (Brooklyn)    27793
Alameda             26080
                    ...
Rich                    1
Piute                   1
Wheatland               1
Kinney                  1
Kimball                 1
Name: school_county, Length: 1790, dtype: int64
false    1304680
true      120489
Name: school_charter, dtype: int64
false    1297390
true      127779
Name: school_magnet, dtype: int64
false    1388477
true       36692
Name: school_year_round, dtype: int64
false    1405899
true       19270
Name: school_nlns, dtype: int64
false    1417235
true        7934
Name: school_kipp, dtype: int64
false    1419723
true        5446
Name: school_charter_ready_promise, dtype: int64
Mrs.          695804
Ms.           547357
Mr.           174861
Teacher         5070
Dr.             1657
Mr. & Mrs.         4
Name: teacher_prefix, dtype: int64
false    1354771
true       70398
Name: teacher_teach_for_america, dtype: int64
Literacy                 412305
Mathematics              188869
Literature & Writing     171559
Special Needs             91337
Applied Sciences          73971
Visual Arts               65000
Environmental Science     57995
Health & Life Science     49337
Music                     42303
History & Geography       34036
Early Development         29736
Other                     27937
Health & Wellness         26403
ESL                       20163
Social Sciences           19713
Performing Arts           19028
Character Education       17566
Gym & Fitness             16254
College & Career Prep     14028
Foreign Languages         10946
Team Sports                8846
Extracurricular            6471
Civics & Government        5046
Economics                  3434
Community Service          3140
Financial Literacy         2835
Nutrition                  2728
Parent Involvement         2384
Sports                     1752
Name: primary_focus_subject, dtype: int64
Literacy & Language    614973
Math & Science         370172
Music & The Arts       126331
Applied Learning       101262
Special Needs           91337
History & Civics        65064
Health & Sports         55983
Name: primary_focus_area, dtype: int64
Literature & Writing     149804
Literacy                 141535
Mathematics              126471
Special Needs             60873
ESL                       49235
Applied Sciences          42319
Early Development         42225
Health & Life Science     39482
Environmental Science     34943
History & Geography       34349
Visual Arts               30840
Performing Arts           27783
Social Sciences           27128
Other                     24517
Character Education       23194
College & Career Prep     22698
Health & Wellness         20497
Music                     15046
Gym & Fitness             12464
Extracurricular           11848
Civics & Government        8791
Parent Involvement         8420
Community Service          6202
Team Sports                5553
Foreign Languages          4708
Nutrition                  4633
Economics                  4143
Sports                     1611
Financial Literacy          651
Name: secondary_focus_subject, dtype: int64
Literacy & Language    345282
Math & Science         243215
Applied Learning       139104
History & Civics        75062
Music & The Arts        73669
Special Needs           60873
Health & Sports         44758
Name: secondary_focus_area, dtype: int64
Supplies      518116
Technology    454488
Books         282906
Other         149999
Trips          16734
Visitors        2873
Name: resource_type, dtype: int64
highest poverty     668482
high poverty        282486
high                237867
moderate poverty    157665
low                  38961
low poverty          31154
minimal               5995
unknown               2559
Name: poverty_level, dtype: int64
Grades PreK-2    532678
Grades 3-5       445789
Grades 6-8       242282
Grades 9-12      204356
Name: grade_level, dtype: int64
0.00      655857
12.00      94196
25.00       3013
40.00       2517
30.00       2172
           ...
153.14         1
178.00         1
917.70         1
134.21         1
114.74         1
Name: vendor_shipping_charges, Length: 18034, dtype: int64
0.00      709279
36.60       2439
45.75       1319
54.90       1226
27.45       1214
           ...
160.42         1
160.83         1
1.85           1
163.92         1
183.71         1
Name: sales_tax, Length: 20930, dtype: int64
6.00      16593
4.50      10879
9.00       8615
7.50       8135
5.98       7841
          ...
55.30         1
199.25        1
107.84        1
69.25         1
75.89         1
Name: payment_processing_charges, Length: 9133, dtype: int64
30.0    716789
35.0    304678
17.0    205314
9.0     128224
Name: fulfillment_labor_materials, dtype: int64

447.99     1609
516.18     1475
231.98     1284
467.00     1272
466.00     1171
           ...
3294.12       1
5334.37       1
3295.62       1
1554.68       1
1621.32       1
Name: total_price_excluding_optional_support, Length: 153412, dtype: int64
527.05     1603
607.27     1475
272.92     1264
569.51     1259
532.93     1182
           ...
1974.66       1
1749.32       1
1969.09       1
2799.29       1
6248.32       1
Name: total_price_including_optional_support, Length: 160283, dtype: int64
20.0       109676
25.0       102464
30.0        80594
24.0        55344
22.0        53093
            ...
799.0           1
1032.0          1
7030.0          1
919.0           1
12143.0         1
Name: students_reached, Length: 1088, dtype: int64
0.00       169684
25.00       22906
50.00       18368
100.00      12686
10.00       11424
            ...
2354.31         1
1394.08         1
1439.96         1
2060.76         1
1112.42         1
Name: total_donations, Length: 143075, dtype: int64
1      286082
2      221455
0      219017
3      152734
4      113025
        ...
151         1
145         1
136         1
131         1
848         1
Name: num_donors, Length: 167, dtype: int64
f        857902
t        281885
false    217360
true      68022
Name: eligible_double_your_impact_match, dtype: int64
f        1090248
false     260862
t          49539
true       24520
Name: eligible_almost_home_match, dtype: int64
completed      995802
expired        417552
reallocated     11815
Name: funding_status, dtype: int64
2015-09-13 00:00:00    6151
2014-08-24 00:00:00    3179
2015-08-20 00:00:00    3054
2014-09-06 00:00:00    2877
2014-09-07 00:00:00    2770
                       ...
2003-08-20                1
2008-08-31 00:00:00       1
2003-05-23 00:00:00       1
2002-12-06                1
2002-12-06 00:00:00       1
Name: date_posted, Length: 7826, dtype: int64
2016-03-09 00:00:00    12272
2014-08-24 00:00:00     4690
2016-08-25 00:00:00     4114
2014-08-23 00:00:00     4027
2016-03-10 00:00:00     3234
                       ...
2003-04-30                 1
2004-07-04                 1
2003-02-26 00:00:00        1
2003-01-24                 1
2004-04-19                 1
Name: date_completed, Length: 7588, dtype: int64
2016-03-11 00:00:00    7162
2012-01-02 00:00:00    4311
2015-12-31 00:00:00    3485
2013-01-02 00:00:00    2395
2014-08-24 00:00:00    2342
                       ...
2005-01-25 00:00:00       1
2003-02-27 00:00:00       1
2005-02-01                1
2007-03-20 00:00:00       1
2006-12-16 00:00:00       1
Name: date_thank_you_packet_mailed, Length: 5058, dtype: int64
2016-01-01 00:00:00    6574
2015-01-01 00:00:00    6149
2014-12-24 00:00:00    3099
2014-02-28 00:00:00    2779
2014-12-23 00:00:00    2678
                       ...
2005-03-24 00:00:00       1
2004-07-26 00:00:00       1
2004-07-04                1
2017-10-11 00:00:00       1
2003-03-20 00:00:00       1
Name: date_expiration, Length: 7949, dtype: int64
2016-03-09    12272
2014-08-24     4690
2010-08-30     4542
2016-08-25     4114
2014-08-23     4027
              ...
2005-04-09        2
2003-02-26        2
2003-10-19        2
2005-08-04        2
2003-02-12        2
Name: calendar_completed, Length: 4789, dtype: int64
0       422348
2015    135621
2016    124626
2010    123712
2014    117033
2011     96966
2013     93669
2012     85774
2009     83494
2008     59094
2007     39656
2006     21966
2005     10530
2004      6686
2003      3276
2002       718
Name: year_completed, dtype: int64
2016-01-01    6574
2015-01-01    6149
2014-12-24    3099
2014-02-28    2779
2014-12-23    2678
              ...
2017-03-21       1
2017-03-20       1
2011-07-29       1
2017-04-02       1
2017-10-11       1
Name: calendar_expired, Length: 4917, dtype: int64
1    995802
0    429367
Name: succeed, dtype: int64

1425169
1139787

In [23]:
x='t'
print(x)
if x == 'f':
    value = 'false'
elif x =='t':
    value = 'true'
else:
    value = x
print(value)

t
true

In [25]:
#columns that have true false t f
def truefalsesmooth(x):   
    
    if isinstance(x, pd.DataFrame):
        value = 'banjo'
    else:
        if x == 'f':
            value = 'false'
        elif x =='t':
            value = 'true'
        else:
            value = x
        
    return(value)

In [29]:
sc=[]

for x,j in enumerate(hist_state['school_charter']):
    if isinstance(x, pd.DataFrame):
        value = 'banjo'
    else:
        if x == 'f':
            value = 'false'
        elif x =='t':
            value = 'true'
        else:
            value = x
    
    sc.append(value)

#newschoolcharter=hist_state.apply(lambda row: hist_state(row['school_charter']),axis=1)

In [34]:
hist_state = pd.DataFrame({'school_charter':sc})

In [35]:
hist_state['school_charter'].value_counts()

2047      1
268758    1
317902    1
315855    1
272848    1
         ..
83586     1
85635     1
95876     1
97925     1
0         1
Name: school_charter, Length: 1425163, dtype: int64

In [18]:
hist_state['school_charter'] = hist_state.apply(lambda row: hist_state(row['school_charter']),axis=1)

TypeError: 'DataFrame' object is not callable

In [ ]:
school_state
school_metro