In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import clear_output

import datetime
from datetime import timedelta, date #for time duration calculations
from dateutil.parser import parse #for fuzzy finding year

# Feature Scaling
from sklearn.preprocessing import StandardScaler




import pickle #for saving output files, pickles
from sys import stdout
import time #for time.sleep function to delay calls
from tqdm import tqdm #for updating loop
#from os import listdir
#from os.path import isfile, join
import glob #pattern matching and expansion.

## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy.sql import table, column, select, update, insert
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

import pandas as pd

#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'donors_db'
username = 'russell'
pswd = 'bradypodion'

In [16]:
intervals = (
    ('weeks', 604800),  # 60 * 60 * 24 * 7
    ('days', 86400),    # 60 * 60 * 24
    ('hours', 3600),    # 60 * 60
    ('minutes', 60),
    ('seconds', 1),
    )

def display_time(seconds, granularity=2):
    result = []

    for name, count in intervals:
        value = seconds // count
        if value:
            seconds -= value * count
            if value == 1:
                name = name.rstrip('s')
            result.append("{} {}".format(value, name))
    return ', '.join(result[:granularity])

# Function convert seconds into day.decimal  
def ConvertSectoDay(n): 
    day = n // (24 * 3600) 
    #print(day) #keep day
    n = n % (24 * 3600) 
    daydec=(n/86400) # add this to day
    addem=day+daydec
    #https://stackoverflow.com/a/48812729/1602288
    holder='{:g}'.format(float('{:.{p}g}'.format(addem, p=5)))
    return(float(holder))


def projectover(posted, completed,expiration):
    formatuse = '%Y-%m-%d %H:%M:%S' # The format: see down this page:https://docs.python.org/3/library/datetime.html
    otherformat = '%Y-%m-%d'
    
    #failed projects were never completed, so in those cases, use the expiration date
    # if variable is None:
    if completed is None:
        try:
            clock = datetime.datetime.strptime(expiration,formatuse) 
        except:
            try:
                clock = datetime.datetime.strptime(expiration,otherformat)
            except:
                clock = datetime.datetime.strptime('1900-01-01',otherformat)
    else:
        try:
            clock = datetime.datetime.strptime(completed,formatuse) 
        except:
            try:
                clock = datetime.datetime.strptime(completed,otherformat) 
            except:
                clock = datetime.datetime.strptime('1900-01-01',otherformat)
    return(clock)
                
        
                
def elapsedseconds(posted, completed, expiration):
    formatuse = '%Y-%m-%d %H:%M:%S' # The format: see down this page:https://docs.python.org/3/library/datetime.html
    otherformat = '%Y-%m-%d'
    
    #failed projects were never completed, so in those cases, use the expiration date
    # if variable is None:
    if completed is None:
        try:
            clock = datetime.datetime.strptime(expiration,formatuse) 
        except:
            try:
                clock = datetime.datetime.strptime(expiration,otherformat)
            except:
                clock = 'stop'
    else:
        try:
            clock = datetime.datetime.strptime(completed,formatuse) 
        except:
            try:
                clock = datetime.datetime.strptime(completed,otherformat) 
            except:
                clock = 'stop'
            
    if clock != 'stop': 
        try:
            startclock = datetime.datetime.strptime(posted,formatuse)
        except:
            startclock = datetime.datetime.strptime(posted,otherformat)

        elapsed = (clock-startclock).total_seconds()
        
    else:
        elapsed = 123456789
    return(elapsed)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://russell:bradypodion@localhost/donors_db
postgresql://russell:bradypodion@localhost/donors_db

In [5]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://russell:bradypodion@localhost/donors_db

In [6]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [7]:
###########################################################
### query: from historical data
hist_query = """
SELECT * FROM hist_projects;\n"""


hist_state = pd.read_sql_query(hist_query,con)
orig_hist_rows = len(hist_state.index)
hist_state = hist_state.drop_duplicates(keep='first')
dedup_hist_rows = len(hist_state.index)

print("Historical Raw Obs = "+str(orig_hist_rows)+"\nDeDup Obs = "+str(dedup_hist_rows))

Historical Raw Obs = 1425169
DeDup Obs = 1425169

In [8]:
### Close communication with the database
con.close()

In [9]:
############# previous EDA suggests these are all abberant classes with less than 100 values
hist_state=hist_state[hist_state.school_state != 'La']
hist_state=hist_state[hist_state.teacher_prefix != 'Mr. & Mrs.']
hist_state=hist_state[hist_state.teacher_prefix != 'Mr. & Mrs. ']

In [17]:
hist_state['projectover'] = hist_state.apply(lambda row: projectover(row['date_posted'],row['date_completed'],row['date_expiration']),axis=1)

In [10]:
hist_state['latency_to_funded'] = hist_state.apply(lambda row: elapsedseconds(row['date_posted'],row['date_completed'],row['date_expiration']),axis=1)
# if the latency was non-addressable, the returned value = 123456789, so now we drop those
hist_state = hist_state[hist_state.latency_to_funded != 123456789]

In [11]:
hist_state['days_to_funding'] = hist_state.apply(lambda row: ConvertSectoDay(row.latency_to_funded),axis=1)

In [12]:
hist_state['succeed']= np.where(hist_state['funding_status']=='completed', 1, 0)

In [13]:
#replace 'f' and 't' with 'true' and 'false' for these columns
#https://stackoverflow.com/a/34697070/1602288

hist_state[['school_charter','school_magnet','school_year_round','school_nlns','school_kipp',
            'school_charter_ready_promise','teacher_teach_for_america','eligible_double_your_impact_match','eligible_almost_home_match']]= hist_state[['school_charter','school_magnet','school_year_round','school_nlns','school_kipp',
                             'school_charter_ready_promise','teacher_teach_for_america','eligible_double_your_impact_match','eligible_almost_home_match']].replace(['f','t'], ['false', 'true'])

#make new columns for posting time info, from splitting posting date = date_posted
hist_state[['posting_year','posting_month','posting_day']]=hist_state['date_posted'].str.split("-",expand=True)

In [22]:
#hist_state.astype({'date_posted':'Timestamp'}).dtypes #cast posting month as integer
hist_state['date_posted'].apply(pd.Timestamp)

0         2011-04-29
1         2011-04-29
2         2011-04-28
3         2011-04-28
4         2011-04-28
             ...
1425164   2016-10-10
1425165   2016-10-10
1425166   2016-10-10
1425167   2016-10-10
1425168   2016-10-11
Name: date_posted, Length: 1425071, dtype: datetime64[ns]

In [ ]:
def active_at_posting:

In [28]:
ref = pd.Timestamp(hist_state['date_posted'][0])
print(ref)
print(type(ref))
c1 =  pd.Timestamp(hist_state['date_posted'][1000])
print(c1)
print(type(c1))
c2 = hist_state['projectover'][1000]
print(c2)
print(type(c2))
if ref<c2 and ref>c1:
    print('1 active')

2011-04-29 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2011-04-10 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2011-04-15 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [33]:
testcase = hist_state.iloc[0:1000,:]
testcase = testcase.sort_values(by='date_posted', ascending=True)
testcase.tail(5)

,index,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,school_county,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_prefix,teacher_teach_for_america,primary_focus_subject,primary_focus_area,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,vendor_shipping_charges,sales_tax,payment_processing_charges,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration,calendar_completed,year_completed,calendar_expired,latency_to_funded,days_to_funding,succeed,posting_year,posting_month,posting_day,projectover
10,418,334dbf9e1515268f71e38f348b87b1d2,9d7051e2611cebdb758f1c7bd09360ac,cb1db2e3c1b355efb4e6f7b484ebf20d,3.700450e+11,35.475513,-82.580324,Arden,NC,28704.0,suburban,Buncombe Co School District,Buncombe,false,false,false,false,false,false,Mrs.,false,Literacy,Literacy & Language,Literature & Writing,Literacy & Language,Books,high,Grades PreK-2,0.00,8.42,1.62,35.0,153.04,180.05,20.0,178.28,5,true,false,completed,2011-04-28,2011-04-29,None,2011-09-27,2011-04-29,2011,2011-09-27,86400.0,1.0,1,2011,04,28,2011-04-29
12,436,fc5f8f5a43317a770443f5b8a47f01d2,c59ef8deffb929c27d181ec9ebfc490b,a0271c9c25e2538e103635d0fc55e619,4.030240e+11,36.136589,-95.840123,Tulsa,OK,74128.0,urban,Tulsa Independent Sch Dist,Tulsa,false,false,false,false,false,false,Mr.,true,Social Sciences,History & Civics,Literature & Writing,Literacy & Language,Trips,high,Grades 3-5,0.00,0.00,5.78,35.0,425.78,500.92,20.0,500.92,1,false,false,completed,2011-04-28,2011-04-28,None,2011-05-05,2011-04-28,2011,2011-05-05,0.0,0.0,1,2011,04,28,2011-04-28
7,347,2048bb46e755111a917105c7d0ef8c79,9935941422132e4c8cda75c7544ab46e,3dc2a7740a9d2c42e5e80f5456787e2d,5.401050e+11,40.042450,-80.662671,Wheeling,WV,26003.0,urban,Ohio Co School District,Ohio,false,false,false,false,false,false,Mrs.,false,Special Needs,Special Needs,Literacy,Literacy & Language,Books,high,Grades 6-8,12.00,0.00,2.79,35.0,235.78,277.39,20.0,256.58,3,true,false,completed,2011-04-28,2011-04-30,None,2011-09-27,2011-04-30,2011,2011-09-27,172800.0,2.0,1,2011,04,28,2011-04-30
1,185,4ff621b7ae38d10d350c207bd454b0a9,db7e23fd42f3d6cfd2aa673e008b73f6,a7cf5b5a11e2586b6deb168d71c763ef,6.339301e+10,36.700132,-121.657760,Salinas,CA,93906.0,urban,Salinas City Elem Sch District,Monterey,false,false,false,false,false,false,Ms.,false,Mathematics,Math & Science,Literacy,Literacy & Language,Supplies,high,Grades PreK-2,3.84,35.14,5.76,35.0,463.78,545.62,23.0,523.92,20,true,false,completed,2011-04-29,2011-04-30,None,2011-09-28,2011-04-30,2011,2011-09-28,86400.0,1.0,1,2011,04,29,2011-04-30
0,163,06dd1b6687a1cc9c3b6d005f0e678228,ec1afc0b1a77a3603718dcd1ca484106,26e476f93a7b248da90b883b8d45f3ff,1.812810e+11,39.816110,-86.283113,Indianapolis,IN,46214.0,urban,Msd Of Wayne Twp,Marion,false,false,false,false,false,false,Mrs.,false,Literacy,Literacy & Language,None,None,Books,high,Grades PreK-2,0.00,0.00,11.50,35.0,813.50,957.06,24.0,NaN,0,false,false,expired,2011-04-29,None,None,2011-09-28,None,0,2011-09-28,13132800.0,152.0,0,2011,04,29,2011-09-28

In [42]:
def deltatimecalculator(start, stop):
    c2 =  pd.Timestamp(stop)
    c1 =  pd.Timestamp(start)
    delta = c2-c1
    return(delta.days)

In [44]:
testcase['delta'] =  testcase.apply(lambda row: deltatimecalculator(row['date_posted'],row['projectover']),axis=1)
testcase.tail(10)

,index,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,school_county,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_prefix,teacher_teach_for_america,primary_focus_subject,primary_focus_area,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,vendor_shipping_charges,sales_tax,payment_processing_charges,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration,calendar_completed,year_completed,calendar_expired,latency_to_funded,days_to_funding,succeed,posting_year,posting_month,posting_day,projectover,delta
5,286,39249b59347f25339689cb417e28864d,db7e23fd42f3d6cfd2aa673e008b73f6,a7cf5b5a11e2586b6deb168d71c763ef,6.339301e+10,36.700132,-121.657760,Salinas,CA,93906.0,urban,Salinas City Elem Sch District,Monterey,false,false,false,false,false,false,Ms.,false,Mathematics,Math & Science,Literacy,Literacy & Language,Supplies,high,Grades PreK-2,8.00,73.17,11.99,35.0,927.78,1091.51,23.0,NaN,0,false,false,expired,2011-04-28,None,None,2011-09-28,None,0,2011-09-28,13219200.0,153.0,0,2011,04,28,2011-09-28,153
6,294,ec905c8224a8ca9f65cbe99c31512c26,c809fd540bd8ad186b6ab232f7337557,b20a75b2ff58323a02c84c1711ab3349,NaN,41.798084,-87.705074,Chicago,IL,60632.0,urban,Chicago Psd-Area 54,Cook,false,false,false,false,false,false,Ms.,false,Literature & Writing,Literacy & Language,ESL,Literacy & Language,Books,high,Grades PreK-2,0.00,0.00,2.23,35.0,185.69,218.46,30.0,218.45,2,true,false,completed,2011-04-28,2011-04-28,2011-04-29,2011-09-28,2011-04-28,2011,2011-09-28,0.0,0.0,1,2011,04,28,2011-04-28,0
11,435,9b7c79e58ef390c487cbb91ce4ef8e9b,df748f43573462260a35d964725022d7,8fb4f73621a205729b26cd1eaab900a5,NaN,32.990452,-92.709702,Lk Providence,LA,71254.0,rural,East Carroll Parish Sch Dist,East Carroll,false,false,false,false,false,false,Ms.,true,History & Geography,History & Civics,Social Sciences,History & Civics,Technology,high,Grades 6-8,12.00,11.20,1.92,35.0,188.09,221.28,87.0,221.28,3,false,false,reallocated,2011-04-28,2011-04-28,None,2011-05-28,2011-04-28,2011,2011-05-28,0.0,0.0,0,2011,04,28,2011-04-28,0
8,374,379fa507f3c2b08e29cb723c8c40cbc1,a006826c170f91f85ff80dc5a132fade,ed047ff4a2b7d048537e32aa1312e949,NaN,40.631962,-73.923897,Brooklyn,NY,11234.0,urban,Integrated Curriculum and Instruction Learning...,Brooklyn,false,true,false,false,false,false,Ms.,false,Health & Wellness,Health & Sports,Early Development,Applied Learning,Supplies,high,Grades PreK-2,40.02,0.00,5.00,35.0,413.54,486.52,18.0,NaN,0,false,false,expired,2011-04-28,None,None,2011-09-27,None,0,2011-09-27,13132800.0,152.0,0,2011,04,28,2011-09-27,152
9,398,703a5ef45ce441d8d313c3bb45f3b166,db7e23fd42f3d6cfd2aa673e008b73f6,a7cf5b5a11e2586b6deb168d71c763ef,6.339301e+10,36.700132,-121.657760,Salinas,CA,93906.0,urban,Salinas City Elem Sch District,Monterey,false,false,false,false,false,false,Ms.,false,Literacy,Literacy & Language,Literature & Writing,Literacy & Language,Supplies,high,Grades PreK-2,83.06,63.33,10.38,35.0,883.91,1039.89,23.0,NaN,0,false,false,expired,2011-04-28,None,None,2011-09-21,None,0,2011-09-21,12614400.0,146.0,0,2011,04,28,2011-09-21,146
10,418,334dbf9e1515268f71e38f348b87b1d2,9d7051e2611cebdb758f1c7bd09360ac,cb1db2e3c1b355efb4e6f7b484ebf20d,3.700450e+11,35.475513,-82.580324,Arden,NC,28704.0,suburban,Buncombe Co School District,Buncombe,false,false,false,false,false,false,Mrs.,false,Literacy,Literacy & Language,Literature & Writing,Literacy & Language,Books,high,Grades PreK-2,0.00,8.42,1.62,35.0,153.04,180.05,20.0,178.28,5,true,false,completed,2011-04-28,2011-04-29,None,2011-09-27,2011-04-29,2011,2011-09-27,86400.0,1.0,1,2011,04,28,2011-04-29,1
12,436,fc5f8f5a43317a770443f5b8a47f01d2,c59ef8deffb929c27d181ec9ebfc490b,a0271c9c25e2538e103635d0fc55e619,4.030240e+11,36.136589,-95.840123,Tulsa,OK,74128.0,urban,Tulsa Independent Sch Dist,Tulsa,false,false,false,false,false,false,Mr.,true,Social Sciences,History & Civics,Literature & Writing,Literacy & Language,Trips,high,Grades 3-5,0.00,0.00,5.78,35.0,425.78,500.92,20.0,500.92,1,false,false,completed,2011-04-28,2011-04-28,None,2011-05-05,2011-04-28,2011,2011-05-05,0.0,0.0,1,2011,04,28,2011-04-28,0
7,347,2048bb46e755111a917105c7d0ef8c79,9935941422132e4c8cda75c7544ab46e,3dc2a7740a9d2c42e5e80f5456787e2d,5.401050e+11,40.042450,-80.662671,Wheeling,WV,26003.0,urban,Ohio Co School District,Ohio,false,false,false,false,false,false,Mrs.,false,Special Needs,Special Needs,Literacy,Literacy & Language,Books,high,Grades 6-8,12.00,0.00,2.79,35.0,235.78,277.39,20.0,256.58,3,true,false,completed,2011-04-28,2011-04-30,None,2011-09-27,2011-04-30,2011,2011-09-27,172800.0,2.0,1,2011,04,28,2011-04-30,2
1,185,4ff621b7ae38d10d350c207bd454b0a9,db7e23fd42f3d6cfd2aa673e008b73f6,a7cf5b5a11e2586b6deb168d71c763ef,6.339301e+10,36.700132,-121.657760,Salinas,CA,93906.0,urban,Salinas City Elem Sch District,Monterey,false,false,false,false,false,false,Ms.,false,Mathematics,Math & Science,Literacy,Literacy & Language,Supplies,high,Grades PreK-2,3.84,35.14,5.76,35.0,463.78,545.62,23.0,523.92,20,true,false,completed,2011-04-29,2011-04-30,None,2011-09-28,2011-04-30,2011,2011-09-28,86400.0,1.0,1,2011,04,29,2011-04-30,1
0,163,06dd1b6687a1cc9c3b6d005f0e678228,ec1afc0b1a77a3603718dcd1ca484106,26e476f93a7b248da90b883b8d45f3ff,1.812810e+11,39.816110,-86.283113,Indianapolis,IN,46214.0,urban,Msd Of Wayne Twp,Marion,false,false,false,false,false,false,Mrs.,false,Literacy,Literacy & Language,None,None,Books,high,Grades PreK-2,0.00,0.00,11.50,35.0,813.50,957.06,24.0,NaN,0,false,false,expired,2011-04-29,None,None,2011-09-28,None,0,2011-09-28,13132800.0,152.0,0,2011,04,29,2011-09-28,152

In [41]:
[x.days for x in testcase['delta']]

[11,
 4,
 1,
 5,
 2,
 2,
 1,
 36,
 2,
 4,
 12,
 3,
 10,
 1,
 1,
 3,
 1,
 4,
 16,
 11,
 9,
 1,
 5,
 2,
 4,
 6,
 3,
 2,
 5,
 1,
 2,
 6,
 2,
 2,
 10,
 27,
 1,
 5,
 2,
 7,
 8,
 1,
 1,
 1,
 150,
 2,
 5,
 1,
 1,
 2,
 1,
 5,
 4,
 3,
 5,
 19,
 18,
 1,
 7,
 29,
 10,
 16,
 5,
 1,
 2,
 150,
 1,
 5,
 3,
 18,
 0,
 26,
 7,
 1,
 7,
 1,
 1,
 4,
 1,
 1,
 150,
 1,
 11,
 3,
 1,
 2,
 0,
 3,
 8,
 2,
 1,
 26,
 8,
 18,
 3,
 3,
 1,
 4,
 5,
 26,
 3,
 16,
 1,
 3,
 2,
 5,
 17,
 1,
 8,
 1,
 1,
 0,
 8,
 11,
 15,
 3,
 1,
 6,
 0,
 9,
 11,
 0,
 1,
 0,
 11,
 5,
 4,
 12,
 15,
 35,
 3,
 0,
 0,
 11,
 16,
 2,
 4,
 0,
 0,
 3,
 1,
 0,
 3,
 11,
 4,
 3,
 0,
 1,
 1,
 40,
 14,
 4,
 3,
 4,
 7,
 1,
 3,
 0,
 2,
 0,
 0,
 14,
 1,
 0,
 0,
 7,
 3,
 0,
 8,
 27,
 2,
 4,
 4,
 20,
 3,
 3,
 34,
 2,
 10,
 0,
 6,
 2,
 4,
 8,
 1,
 6,
 1,
 4,
 3,
 1,
 15,
 2,
 1,
 5,
 12,
 150,
 3,
 15,
 12,
 1,
 2,
 2,
 3,
 6,
 34,
 7,
 0,
 2,
 3,
 3,
 1,
 26,
 4,
 5,
 10,
 151,
 11,
 3,
 10,
 7,
 7,
 8,
 16,
 6,
 2,
 8,
 1,
 151,
 8,
 2,
 39,
 2,
 1,
 2,
 8,
 3,
 4,
 3,
 1,
 12,
 9,
 2,
 8,
 3,
 1,
 3,
 3,
 6,
 9,
 3,
 7,
 3,
 2,
 2,
 3,
 14,
 2,
 0,
 5,
 2,
 9,
 8,
 149,
 7,
 10,
 1,
 14,
 -35,
 24,
 -35,
 29,
 32,
 3,
 3,
 15,
 5,
 2,
 9,
 -35,
 2,
 1,
 16,
 3,
 0,
 0,
 7,
 1,
 2,
 7,
 2,
 149,
 0,
 1,
 16,
 1,
 1,
 2,
 3,
 1,
 1,
 17,
 0,
 1,
 2,
 3,
 7,
 15,
 13,
 16,
 5,
 2,
 8,
 13,
 27,
 1,
 13,
 0,
 8,
 1,
 16,
 10,
 2,
 0,
 2,
 0,
 14,
 3,
 2,
 6,
 1,
 2,
 149,
 7,
 18,
 7,
 1,
 8,
 14,
 1,
 8,
 9,
 9,
 6,
 1,
 14,
 6,
 151,
 13,
 2,
 10,
 1,
 12,
 0,
 0,
 3,
 1,
 1,
 1,
 1,
 26,
 0,
 1,
 1,
 1,
 8,
 12,
 1,
 3,
 3,
 2,
 8,
 1,
 14,
 1,
 2,
 1,
 1,
 3,
 1,
 1,
 2,
 1,
 1,
 41,
 1,
 6,
 1,
 2,
 1,
 2,
 1,
 5,
 2,
 1,
 1,
 33,
 152,
 5,
 6,
 2,
 1,
 13,
 16,
 16,
 7,
 1,
 17,
 0,
 8,
 38,
 10,
 1,
 1,
 2,
 2,
 9,
 1,
 2,
 12,
 9,
 1,
 1,
 1,
 5,
 9,
 27,
 6,
 0,
 150,
 12,
 5,
 1,
 2,
 14,
 12,
 145,
 1,
 14,
 7,
 1,
 8,
 2,
 1,
 27,
 1,
 17,
 1,
 1,
 8,
 8,
 4,
 2,
 33,
 1,
 0,
 2,
 146,
 8,
 12,
 1,
 2,
 1,
 151,
 0,
 151,
 9,
 8,
 2,
 0,
 9,
 16,
 2,
 14,
 0,
 28,
 4,
 1,
 2,
 17,
 29,
 6,
 29,
 1,
 2,
 2,
 0,
 0,
 1,
 13,
 8,
 26,
 1,
 17,
 12,
 1,
 8,
 0,
 0,
 6,
 6,
 2,
 11,
 11,
 11,
 33,
 1,
 1,
 1,
 1,
 6,
 0,
 0,
 13,
 1,
 14,
 12,
 1,
 13,
 0,
 1,
 1,
 1,
 1,
 1,
 12,
 5,
 7,
 28,
 6,
 0,
 0,
 6,
 0,
 1,
 0,
 1,
 0,
 10,
 0,
 0,
 1,
 7,
 1,
 7,
 28,
 1,
 0,
 1,
 0,
 7,
 0,
 4,
 12,
 3,
 31,
 24,
 1,
 0,
 8,
 0,
 0,
 12,
 10,
 150,
 10,
 3,
 3,
 3,
 3,
 7,
 3,
 0,
 4,
 11,
 0,
 0,
 10,
 7,
 2,
 1,
 0,
 12,
 7,
 26,
 8,
 14,
 0,
 4,
 3,
 27,
 4,
 6,
 3,
 6,
 5,
 6,
 6,
 10,
 28,
 35,
 12,
 151,
 9,
 3,
 1,
 4,
 12,
 35,
 5,
 10,
 13,
 150,
 2,
 2,
 3,
 10,
 2,
 1,
 11,
 0,
 6,
 30,
 4,
 0,
 8,
 10,
 3,
 28,
 14,
 5,
 0,
 0,
 3,
 151,
 1,
 4,
 6,
 1,
 10,
 7,
 38,
 30,
 0,
 5,
 1,
 2,
 8,
 9,
 4,
 28,
 3,
 5,
 152,
 3,
 12,
 8,
 10,
 1,
 2,
 151,
 1,
 9,
 6,
 2,
 10,
 2,
 10,
 7,
 8,
 13,
 12,
 6,
 2,
 11,
 10,
 3,
 12,
 9,
 1,
 5,
 10,
 41,
 2,
 5,
 1,
 9,
 10,
 27,
 9,
 5,
 10,
 150,
 4,
 3,
 12,
 10,
 6,
 1,
 5,
 150,
 1,
 10,
 3,
 2,
 0,
 9,
 2,
 6,
 10,
 2,
 5,
 3,
 12,
 7,
 10,
 2,
 7,
 11,
 2,
 7,
 4,
 7,
 9,
 2,
 10,
 2,
 31,
 7,
 7,
 9,
 2,
 10,
 151,
 11,
 4,
 30,
 4,
 4,
 10,
 8,
 8,
 5,
 8,
 5,
 1,
 1,
 4,
 7,
 1,
 1,
 4,
 1,
 3,
 5,
 4,
 9,
 1,
 3,
 12,
 0,
 36,
 0,
 3,
 1,
 5,
 6,
 2,
 1,
 3,
 9,
 1,
 8,
 10,
 8,
 8,
 8,
 7,
 1,
 3,
 3,
 8,
 0,
 5,
 10,
 3,
 8,
 32,
 8,
 1,
 29,
 8,
 8,
 4,
 6,
 8,
 8,
 8,
 6,
 1,
 11,
 10,
 2,
 0,
 152,
 6,
 152,
 6,
 7,
 8,
 8,
 3,
 6,
 1,
 8,
 152,
 3,
 30,
 8,
 5,
 28,
 4,
 6,
 9,
 29,
 2,
 6,
 6,
 1,
 138,
 2,
 5,
 8,
 6,
 1,
 5,
 1,
 9,
 153,
 0,
 1,
 1,
 6,
 1,
 5,
 10,
 1,
 5,
 28,
 10,
 8,
 10,
 7,
 9,
 8,
 29,
 1,
 2,
 30,
 0,
 7,
 8,
 5,
 8,
 8,
 9,
 31,
 6,
 10,
 2,
 7,
 5,
 8,
 153,
 6,
 7,
 1,
 4,
 4,
 4,
 4,
 1,
 6,
 9,
 9,
 8,
 5,
 8,
 1,
 29,
 4,
 5,
 152,
 7,
 1,
 0,
 7,
 0,
 5,
 0,
 3,
 0,
 0,
 0,
 7,
 6,
 4,
 7,
 5,
 4,
 152,
 7,
 8,
 3,
 2,
 6,
 4,
 31,
 4,
 0,
 5,
 3,
 5,
 0,
 5,
 7,
 3,
 4,
 3,
 3,
 4,
 2,
 4,
 4,
 6,
 44,
 4,
 3,
 6,
 2,
 3,
 7,
 3,
 4,
 3,
 31,
 2,
 1,
 28,
 6,
 6,
 2,
 1,
 3,
 5,
 1,
 1,
 4,
 6,
 1,
 30,
 0,
 5,
 2,
 5,
 30,
 0,
 1,
 5,
 29,
 0,
 1,
 30,
 2,
 1,
 30,
 1,
 1,
 1,
 27,
 29,
 1,
 3,
 -24,
 0,
 1,
 0,
 2,
 2,
 1,
 3,
 153,
 0,
 0,
 152,
 146,
 1,
 0,
 2,
 1,
 152]

In [ ]:
for i in range(delta.days + 1):
    day = sdate + timedelta(days=i)
    print(day)

In [ ]:
# trimmed=hist_state[['school_state','school_metro','school_charter', 'school_magnet', 
#                     'school_year_round','teacher_prefix','teacher_teach_for_america', 
#                     'primary_focus_subject','resource_type', 'poverty_level', 'grade_level',
#                     'total_price_excluding_optional_support','students_reached',
#                     'posting_month','days_to_funding']]

trimmed=hist_state[['total_price_excluding_optional_support','students_reached',
                    'posting_month','days_to_funding','succeed']]

trimmed = trimmed[trimmed.days_to_funding < 150]
trimmed = trimmed.dropna()
trimmed.shape

In [ ]:
trimmed.astype({'posting_month':'int32'}).dtypes #cast posting month as integer

In [ ]:
funded_x=trimmed[trimmed['succeed']==1]
notfund_y=trimmed[trimmed['succeed']==0]

In [ ]:
funded_x=funded_x['days_to_funding']
notfund_y=notfund_y['days_to_funding']

In [ ]:
sns.set_context("poster", font_scale=.6)

bins = np.linspace(0, 150, 100)
plt.hist(funded_x, bins, alpha=0.25, label='Funded')
plt.hist(notfund_y, bins, alpha=0.5, label='NOT funded')
plt.legend(loc='upper right')


plt.xlabel("Project duration");
plt.ylabel("Count");

plt.show()

In [ ]:
sns.set_context("poster", font_scale=1.3)

fig, ax = plt.subplots(figsize=(12, 8))
sns.distplot(trimmed["days_to_funding"].dropna())
ax.set_xlim(1,150)
fig.tight_layout()

In [ ]:
from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [ ]:
#binary output = is a project funded or not?
y = trimmed.succeed

#
x = trimmed.drop(['succeed'], axis=1)
x_scaled = preprocessing.scale(x)
# create training and testing vars
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

In [ ]:
# fit a model
logistic_regression = LogisticRegression()
model = logistic_regression.fit(x_train, y_train)
predictions = logistic_regression.predict(x_test)

print("Score:", model.score(x_test, y_test))

In [ ]:
y_pred = logistic_regression.predict(x_test)

accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy_percentage = 100 * accuracy
accuracy_percentage

In [ ]:
cm = metrics.confusion_matrix(y_test, predictions)
print(cm)

In [ ]:
# Use score method to get accuracy of model
score = model.score(x_test, y_test)
print(score)

matplotlib.rcParams.update({'font.size': 22})

plt.figure(figsize=(9,9))
sns.heatmap(cm, annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'magma');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title = 'Accuracy Score: {0}'.format(score)
plt.title(all_sample_title, size = 15);

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

import matplotlib

# font = {'family' : 'normal',
#         'weight' : 'bold',
#         'size'   : 30}

# matplotlib.rc('font', **font)
matplotlib.rcParams.update({'font.size': 42})

logit_roc_auc = roc_auc_score(y_test, logistic_regression.predict(x_test))
fpr, tpr, thresholds = roc_curve(y_test, logistic_regression.predict_proba(x_test)[:,1])
plt.figure(figsize=(9, 9))
plt.plot(fpr, tpr, label='Logistic Regression (area = %0.2f)' % logit_roc_auc,linewidth=4)
plt.plot([0, 1], [0, 1],'r--',linewidth=4)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Log_ROC')
plt.show()

In [ ]:
print(x.columns)
print(logistic_regression.coef_)

In [ ]:
clf=logistic_regression

feature_importance = abs(clf.coef_[0])
feature_importance = 100.0 * (feature_importance / feature_importance.max())
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5

matplotlib.rcParams.update({'font.size': 42})
plt.figure(figsize=(24, 16))
featfig = plt.figure()
featax = featfig.add_subplot(1, 1, 1)
featax.barh(pos, feature_importance[sorted_idx], align='center')
featax.set_yticks(pos)
featax.set_yticklabels(np.array(x.columns)[sorted_idx], fontsize=18)
featax.set_xlabel('Relative Feature Importance');

In [ ]:
# Function convert months to school-year-months
def ConvertGregorian_to_School(m): 
    m=int(m)
    if m>=7:
        sm=m-6
    else:
        sm=m+6

    return(int(sm))

In [ ]:
trimmed['posting_month'].value_counts()

In [ ]:
trimmed['posting_month'] = trimmed.apply(lambda row: ConvertGregorian_to_School(row.posting_month),axis=1)

In [ ]:
#binary output = is a project funded or not?
y = trimmed.succeed

#
x = trimmed.drop(['succeed'], axis=1)
x_scaled = preprocessing.scale(x)
# create training and testing vars
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

In [ ]:
# fit a model
logistic_regression = LogisticRegression()
model = logistic_regression.fit(x_train, y_train)
predictions = logistic_regression.predict(x_test)

print("Score:", model.score(x_test, y_test))

In [ ]:
# Use score method to get accuracy of model
score = model.score(x_test, y_test)
print(score)

matplotlib.rcParams.update({'font.size': 22})

plt.figure(figsize=(9,9))
sns.heatmap(cm, annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'magma');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title = 'Accuracy Score: {0}'.format(score)
plt.title(all_sample_title, size = 15);

In [ ]:
logit_roc_auc = roc_auc_score(y_test, logistic_regression.predict(x_test))
fpr, tpr, thresholds = roc_curve(y_test, logistic_regression.predict_proba(x_test)[:,1])
plt.figure(figsize=(9, 9))
plt.plot(fpr, tpr, label='Logistic Regression (area = %0.2f)' % logit_roc_auc,linewidth=4)
plt.plot([0, 1], [0, 1],'r--',linewidth=4)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Log_ROC')
plt.show()

In [ ]:
clf=logistic_regression

feature_importance = abs(clf.coef_[0])
feature_importance = 100.0 * (feature_importance / feature_importance.max())
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5

matplotlib.rcParams.update({'font.size': 42})
plt.figure(figsize=(24, 16))
featfig = plt.figure()
featax = featfig.add_subplot(1, 1, 1)
featax.barh(pos, feature_importance[sorted_idx], align='center')
featax.set_yticks(pos)
featax.set_yticklabels(np.array(x.columns)[sorted_idx], fontsize=18)
featax.set_xlabel('Relative Feature Importance');

In [ ]:
# One-hot encode categorical features
features = pd.get_dummies(trimmed)
print(features.shape)
features = features.dropna()
print(features.shape)

features.head(5)

In [ ]:
#binary output = is a project funded or not?
y = features.succeed

#
x = features.drop(['succeed'], axis=1)
x_scaled = preprocessing.scale(x)
# create training and testing vars
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

In [ ]:
# fit a model
logistic_regression = LogisticRegression()
model = logistic_regression.fit(x_train, y_train)
predictions = logistic_regression.predict(x_test)

print("Score:", model.score(x_test, y_test))

In [ ]:
count_failed= len(features[features['succeed']==0])
count_funded = len(features[features['succeed']==1])
pct_of_fail = count_failed/(count_failed+count_funded)
print("percentage of failed projects is ", pct_of_fail*100)
pct_of_fund = count_funded/(count_failed+count_funded)
print("percentage of funded projects is ", pct_of_fund*100)

In [ ]:
trimmed.groupby('grade_level').mean()

In [ ]:
trimmed.groupby('poverty_level').mean()

In [ ]:
trimmed.groupby('resource_type').mean()#resource_type

In [ ]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(features['succeed'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('succeed', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [ ]:
print(features.shape)

In [ ]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)

In [ ]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(train_features, train_labels);