In [ ]:
#%reset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import clear_output

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
from datetime import datetime, timedelta, date #for time duration calculations
from dateutil.parser import parse #for fuzzy finding year

In [4]:
import pickle #for saving output files, pickles
from sys import stdout
import time #for time.sleep function to delay calls
from tqdm import tqdm #for updating loop
#from os import listdir
#from os.path import isfile, join
import glob #pattern matching and expansion.

In [5]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy.sql import table, column, select, update, insert
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

import pandas as pd

#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'donors_db'
username = 'russell'
pswd = 'bradypodion'

In [6]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://russell:bradypodion@localhost/donors_db
postgresql://russell:bradypodion@localhost/donors_db

In [7]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://russell:bradypodion@localhost/donors_db

## This block reads in archival data (from the web.archive.org) and old data from (an Insight Fellow proj on AWS)

In [10]:
#### data from: https://web.archive.org/web/20121019202946/http://developer.donorschoose.org/the-data
#### Look at the first few rows of the CSV file
arch_data = pd.read_csv("/home/russell/Documents/DataScience/DonorsChoose/Data/donorschoose-org-1may2011-v1-projects.csv")

######drop 'active' projects

orig_rowlen=len(arch_data.index)

arch_data = arch_data[arch_data.funding_status != 'live']

new_rowlen=len(arch_data.index)

print("***Web Archive Data")

print("original rows ="+str(orig_rowlen)+", new rows ="+str(new_rowlen))

#### data from https://github.com/adilmoujahid/DonorsChoose_Visualization/issues/10
old_df = pd.read_csv("/home/russell/Downloads/opendata_projects.csv", thousands = ',')

######drop 'active' projects

old_rowlen=len(old_df.index)

old_df = old_df[old_df.funding_status != 'live']

new_oldrowlen=len(old_df.index)

print("****Github Data")

print("original rows ="+str(old_rowlen)+", new rows ="+str(new_oldrowlen))

#get shared column names, keeping order

keepcolumns=set(old_df.columns).intersection(arch_data.columns)

A=old_df.columns.values.tolist()

keepcolumns=sorted(keepcolumns, key=A.index)

***Web Archive Data
original rows =304707, new rows =285382
****Github Data
original rows =1203287, new rows =1139787

In [11]:
set(old_df.columns).difference(arch_data.columns) #columns not shared

{' "teacher_ny_teaching_fellow"'}

In [12]:
#############################
## keep only shared columns, then combine

arch_data = arch_data[keepcolumns]

old_df = old_df[keepcolumns]

In [13]:
bigold = arch_data.append(old_df) # combine

bigold['calendar_completed']=bigold.date_completed.str.split(' ').str[0]

bigold['year_completed']=bigold.calendar_completed.str.split('-').str[0]

bigold['calendar_expired']=bigold.date_expiration.str.split(' ').str[0]

In [14]:
bigold['school_latitude'] = bigold.school_latitude.astype(float)

bigold['school_longitude'] =bigold.school_longitude.astype(float)

####replace nas for these two columns with 0, required for conversion to int
values = {'year_completed':0,'num_donors':0}

bigold = bigold.fillna(value=values)

bigold['year_completed']=bigold.year_completed.astype(int)

bigold['num_donors']=bigold.num_donors.astype(int)

In [15]:
del old_df;del arch_data

print(bigold.shape)

bigold.head(2)

(1425169, 46)

,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,school_county,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_prefix,teacher_teach_for_america,primary_focus_subject,primary_focus_area,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,vendor_shipping_charges,sales_tax,payment_processing_charges,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration,calendar_completed,year_completed,calendar_expired
163,06dd1b6687a1cc9c3b6d005f0e678228,ec1afc0b1a77a3603718dcd1ca484106,26e476f93a7b248da90b883b8d45f3ff,1.812810e+11,39.816110,-86.283113,Indianapolis,IN,46214.0,urban,Msd Of Wayne Twp,Marion,False,False,False,False,False,False,Mrs.,False,Literacy,Literacy & Language,NaN,NaN,Books,high,Grades PreK-2,0.00,0.00,11.50,35.0,813.50,957.06,24.0,NaN,0,False,False,expired,2011-04-29,NaN,NaN,2011-09-28,NaN,0,2011-09-28
185,4ff621b7ae38d10d350c207bd454b0a9,db7e23fd42f3d6cfd2aa673e008b73f6,a7cf5b5a11e2586b6deb168d71c763ef,6.339301e+10,36.700132,-121.657760,Salinas,CA,93906.0,urban,Salinas City Elem Sch District,Monterey,False,False,False,False,False,False,Ms.,False,Mathematics,Math & Science,Literacy,Literacy & Language,Supplies,high,Grades PreK-2,3.84,35.14,5.76,35.0,463.78,545.62,23.0,523.92,20,True,False,completed,2011-04-29,2011-04-30,NaN,2011-09-28,2011-04-30,2011,2011-09-28

bigold['funding_status'].value_counts()

In [16]:
### insert data into database from Python (proof of concept - this won't be useful for big data, of course)
#bigold.to_sql('hist_projects', engine, if_exists='replace',chunksize=100000)

In [18]:
#get all pickle files from folder into a list, 'picks'

picks = sorted(glob.glob("/home/russell/Documents/DataScience/DonorsChoose/Data/Metrics/*pickle")) 

print(len(picks))


#this will create a master list with the same # of elements as projects
basic_list = []

for pf in picks:
    #https://stackoverflow.com/a/3249684/1602288
    stdout.write("\r%s" % pf)
    stdout.flush()
    check=pickle.load(open(pf,"rb"))
    #check=check[['id','proposalURL']]
    if (isinstance(check, pd.DataFrame)) and (len(check.index)>0):
        basic_list.append(check)
    #basic_list.append(check)
    
    
    #basic_list.append(pickle.load(open(pf,"rb")))
    #basic_list = basic_list+(pickle.load(open(picks[0],"rb")))
    #sleep(.4)
stdout.write("\n")

44789
/home/russell/Documents/DataScience/DonorsChoose/Data/Metrics/pickle_0044788.pickle

In [19]:
bigframe = pd.concat(basic_list)
#schoolTypes, teacherTypes #these variables are 'dictionaries' and need to be dealt with

bigframe=bigframe.drop(['schoolTypes', 'teacherTypes'], axis=1)

bigframe.shape

(1642201, 37)

In [ ]:
#https://stackoverflow.com/a/40121869/1602288
ffd = bigframe['fullyFundedDate'].values.tolist()

years=[]

for date in ffd:
    try:
        years.append(parse(str(date), fuzzy=True).year)
    except:   
        years.append(np.nan)

bigframe['ffyear']=years

In [24]:
#nybig: 'latitude','longitude','ffyear'

bigframe['latitude']=bigframe.latitude.astype(float)

bigframe['longitude']=bigframe.longitude.astype(float)

####replace nas for these two columns with 0, required for conversion to int
values = {'ffyear':0,'numDonors':0}
bigframe = bigframe.fillna(value=values)

bigframe['ffyear']=bigframe.ffyear.astype(int)

bigframe['numDonors']=bigframe.numDonors.astype(int)

In [29]:
## insert data into database from Python

bigframe.to_sql('scraped_project_metrics', engine, if_exists='append',chunksize=100000)

In [ ]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [ ]:
sql_query = """
SELECT * FROM birth_data_table WHERE delivery_method='Cesarean';
"""
birth_data_from_sql = pd.read_sql_query(sql_query,con)

In [ ]:
### connect:
con = None

con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

### query:
sql_query = """
SELECT * FROM hist_projects WHERE school_state='NY';
"""

old_NYdata_from_sql = pd.read_sql_query(sql_query,con)

old_NYdata_from_sql.head(2)

### Close communication with the database
con.close()

In [ ]:
# query:
sql_query = """
SELECT * FROM birth_data_table WHERE delivery_method='Cesarean';
"""
birth_data_from_sql = pd.read_sql_query(sql_query,con)



# Close communication with the database
con.close()

In [ ]:
A='hist_projects'
B='scraped_project_metrics'

sql_query = """ SELECT * FROM hist_projects WHERE school_state='NY'; """

old_NYdata_from_sql = pd.read_sql_query(sql_query,con)

In [ ]:
# pd.set_option('display.max_colwidth', None)
# pd.set_option('display.max_columns', 999)

In [ ]:
nybig = bigframe[bigframe.state.eq('NY')]
nybig.shape

In [ ]:
# Close the connection
connection.close()

In [ ]:
print(nybig.shape)
print(nydf.shape)

In [ ]:
nybig['expirationDate']

In [ ]:
nydf['calendar_expired']

In [ ]:
#https://stackoverflow.com/a/41815118/1602288
new_ny = pd.merge(nybig,nydf,left_on=['latitude','longitude','ffyear','numDonors','expirationDate'],right_on = ['school_latitude', 'school_longitude','year_completed','num_donors','calendar_expired'])

In [ ]:
new_ny.shape

In [ ]:
print(new_ny.loc[[0]])

In [ ]:
bigframe['expirationTime'] = bigframe['expirationTime'].apply(str)
bigframe['expirationTime']=bigframe['expirationTime'].str[1:-5]
bigframe['timeback']=pd.to_numeric(bigframe['expirationTime'])
bigframe['right_date']=pd.to_datetime(bigframe['expirationDate'],format='%Y-%m-%d')
bigframe['start_date'] = bigframe.apply(lambda row: row['right_date'] - timedelta(seconds=row['timeback']),axis = 1)

#bigframe['right_date'] - timedelta(seconds=bigframe['timeback'])



bigframe.head(3)

In [ ]:
bigframe['right_date']=pd.to_datetime(bigframe['expirationDate'],format='%Y-%m-%d')

In [ ]:
bigframe['right_date']=pd.to_datetime(bigframe['expirationDate'].astype(str))

In [ ]:
exp_date = bigframe.expirationDate.values[0]
type(exp_date)
#right_date = date.fromisoformat(exp_date) #gets date into a datetime.date format

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
(bigframe['proposalURL'][0])

In [ ]:
(bigframe['expirationTime'][0])

In [ ]:
for colu in bigframe.columns:
    print(bigframe[colu])

In [ ]:
pd.set_option('display.max_columns', 999)
bigframe.loc[0]

The above line (to_sql) is doing a lot of heavy lifting. It's reading a dataframe, it's creating a table, and adding the data to the table. So ** SQLAlchemy is quite useful! **

In [ ]:
print(bigframe.shape)
print(type(bigframe))
print(bigframe.columns)

In [ ]:
#ok = bigframe.loc[bigframe.astype(str).drop_duplicates().index]
ok = bigframe.drop_duplicates(subset='id') #drop duplicate rows
print(type(ok))
print(ok.shape)

In [ ]:
ok = ok.drop_duplicates(subset="id", keep="first") #for some reason, some duplicate projs were kept, this drops'em

In [ ]:
pd.set_option('display.max_columns', None)
#d.set_option("max_rows", None) #undo by resetting --- pd.reset_option(“max_rows”)

In [ ]:
trailerdict = dict(zip(ok['id'],ok['fulfillmentTrailer']))

In [ ]:
pickle_out = open('/home/russell/Documents/DataScience/DonorsChoose/Data/trailers.pickle',"wb")
pickle.dump(trailerdict, pickle_out)
pickle_out.close()

In [ ]:
donordict = dict(zip(ok['id'],ok['numDonors']))
pickle_out = open('/home/russell/Documents/DataScience/DonorsChoose/Data/donor_num.pickle',"wb")
pickle.dump(donordict, pickle_out)
pickle_out.close()

In [ ]:

trailers =ok['fulfillmentTrailer']

In [ ]:
sns.set_context("poster", font_scale=1.3)

In [ ]:

fig, ax = plt.subplots(figsize=(12, 8))
sns.distplot(ok["numDonors"].dropna())
fig.tight_layout()

In [ ]:
bigframe['fulfillmentTrailer'].value_counts()

In [ ]:
bigframe['id'].value_counts()

In [ ]:
f_trailers = bigframe['fulfillmentTrailer'].array
print(f_trailers)

In [ ]:
type(what)

In [ ]:
len(what)

In [ ]:
w_a = what.array

In [ ]:
len(w_a)

In [ ]:
w_a[0]

In [ ]:
for b in range(10):
    #print(b)
    print(bigframe['fulfillmentTrailer'].array[b])

In [ ]:
bigframe['proposalURL'].value_counts()

In [ ]:
checkdf = pd.DataFrame(project_IDs,columns =['proj_id'])
checkdf
pd.set_option("max_rows", None) #undo by resetting --- pd.reset_option(“max_rows”)
checkdf

In [ ]:
checkdf['proj_id'].value_counts()

In [ ]:
basic_list[0]

In [ ]:
bewild = pd.DataFrame.from_dict(lookat)

In [ ]:
import json
from bs4 import BeautifulSoup

In [ ]:
import scrapy
#modified scrapy settings here:
#/home/russell/anaconda3/envs/insight/lib/python3.8/site-packages/scrapy/settings
#to include the user agents described here: https://www.scrapehero.com/how-to-fake-and-rotate-user-agents-using-python-3/

In [ ]:
df = pd.read_csv("/home/russell/Downloads/opendata_projects.csv", thousands = ',')
pd.set_option('display.max_columns', None)
#pd.set_option("max_rows", None) #undo by resetting --- pd.reset_option(“max_rows”)bb

In [ ]:
current = "https://www.donorschoose.org/common/json_feed.html?showFacetCounts=true&APIKey=H9v7hCeN&max=100&index=0"
historical = "https://www.donorschoose.org/common/json_feed.html?showFacetCounts=true&APIKey=H9v7hCeN&max=40&historical=true&index=0"

In [ ]:
r = requests.get(historical)
data_dict = json.loads(r.text)

In [ ]:
print(data_dict)

In [ ]:
for key in data_dict.items():
    print (key)

In [ ]:
dicts_on_this_page = list(data_dict.values())

proposal_ind = ([list(data_dict.keys()).index('proposals')])[0]  #

proposal_list = dicts_on_this_page[proposal_ind]
#dicts_on_this_page[proposal_ind]
#proposal_ind = which(data.keys()=='proposals')
#print(proposal_ind)
#print(proposals_on_this_page[7])

In [ ]:
proposal_list[0]

In [ ]:
first_proposal = proposal_list[0] #returns dictionary of first proposal items

In [ ]:
type(first_proposal)

In [ ]:
for key in first_proposal.items():
    print (key)

In [ ]:
print(soup)

# _DRAW OUT SCREENS and FUNCTIONALITY GOALS FOR END OF WEEK_



## MONDAY
    Well scoped, clearly-defined problem + some data
## 	TUESDAY
    SQL[organized data] 
## 	WED 
    analytics/working algo/some results ----> (python linked to sql data)
## 	THUR – SQL mapped to PYTHON connected to FLASK (or something)


# GOOD Qs to ASK SELF AND OTHERS
#### 	-What’s actionable about your product?
#### 	-Did you try other models?
#### 	-Is this better than random?
#### 	-Is this better than the simplest model?
#### 	-Why did you choose these inputs?
#### 	-How did you validate this?
#### 	-What are your metrics for success?
#### 	-What are the assumptions of your model?
#### 	-How would you improve this project with more time?

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df['primary_focus_area'].value_counts()

In [ ]:
expired = df[(df['funding_status']=='expired')]

In [ ]:
df['_teacher_acctid'].value_counts()