In [ ]:
#%reset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import clear_output

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
from datetime import datetime, timedelta, date #for time duration calculations
from dateutil.parser import parse #for fuzzy finding year

In [5]:
import pickle #for saving output files, pickles
from sys import stdout
import time #for time.sleep function to delay calls
from tqdm import tqdm #for updating loop
#from os import listdir
#from os.path import isfile, join
import glob #pattern matching and expansion.

In [6]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy.sql import table, column, select, update, insert
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

import pandas as pd

#In Python: Define your username and password used above. I've defined the database name (we're 
#using a dataset on births, so I call it birth_db). 
dbname = 'donors_db'
username = 'russell'
pswd = 'bradypodion'

In [7]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)
# Replace localhost with IP address if accessing a remote server

postgresql://russell:bradypodion@localhost/donors_db
postgresql://russell:bradypodion@localhost/donors_db

In [8]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://russell:bradypodion@localhost/donors_db

In [9]:
#data from: https://web.archive.org/web/20121019202946/http://developer.donorschoose.org/the-data
# Look at the first few rows of the CSV file
arch_data = pd.read_csv("/home/russell/Documents/DataScience/DonorsChoose/Data/donorschoose-org-1may2011-v1-projects.csv")
######drop 'active' projects
orig_rowlen=len(arch_data.index)
arch_data = arch_data[arch_data.funding_status != 'live']
new_rowlen=len(arch_data.index)
print("***Web Archive Data")
print("original rows ="+str(orig_rowlen)+", new rows ="+str(new_rowlen))

# data from https://github.com/adilmoujahid/DonorsChoose_Visualization/issues/10
old_df = pd.read_csv("/home/russell/Downloads/opendata_projects.csv", thousands = ',')
######drop 'active' projects
old_rowlen=len(old_df.index)
old_df = old_df[old_df.funding_status != 'live']
new_oldrowlen=len(old_df.index)
print("****Github Data")
print("original rows ="+str(old_rowlen)+", new rows ="+str(new_oldrowlen))

#get shared column names, keeping order
keepcolumns=set(old_df.columns).intersection(arch_data.columns)
A=old_df.columns.values.tolist()
keepcolumns=sorted(keepcolumns, key=A.index)

***Web Archive Data
original rows =304707, new rows =285382
****Github Data
original rows =1203287, new rows =1139787

In [10]:
set(old_df.columns).difference(arch_data.columns) #columns not shared

{' "teacher_ny_teaching_fellow"'}

In [11]:
#############################
#keep only shared columns, then combine
arch_data = arch_data[keepcolumns]
old_df = old_df[keepcolumns]

bigold = arch_data.append(old_df) # combine
bigold['calendar_completed']=bigold.date_completed.str.split(' ').str[0]
bigold['year_completed']=bigold.calendar_completed.str.split('-').str[0]
bigold['calendar_expired']=bigold.date_expiration.str.split(' ').str[0]

In [12]:
del old_df;del arch_data
print(bigold.shape)
bigold.head(2)

(1425169, 46)

,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,school_county,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_prefix,teacher_teach_for_america,primary_focus_subject,primary_focus_area,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,vendor_shipping_charges,sales_tax,payment_processing_charges,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration,calendar_completed,year_completed,calendar_expired
163,06dd1b6687a1cc9c3b6d005f0e678228,ec1afc0b1a77a3603718dcd1ca484106,26e476f93a7b248da90b883b8d45f3ff,1.812810e+11,39.816110,-86.283113,Indianapolis,IN,46214.0,urban,Msd Of Wayne Twp,Marion,False,False,False,False,False,False,Mrs.,False,Literacy,Literacy & Language,NaN,NaN,Books,high,Grades PreK-2,0.00,0.00,11.50,35.0,813.50,957.06,24.0,NaN,NaN,False,False,expired,2011-04-29,NaN,NaN,2011-09-28,NaN,NaN,2011-09-28
185,4ff621b7ae38d10d350c207bd454b0a9,db7e23fd42f3d6cfd2aa673e008b73f6,a7cf5b5a11e2586b6deb168d71c763ef,6.339301e+10,36.700132,-121.657760,Salinas,CA,93906.0,urban,Salinas City Elem Sch District,Monterey,False,False,False,False,False,False,Ms.,False,Mathematics,Math & Science,Literacy,Literacy & Language,Supplies,high,Grades PreK-2,3.84,35.14,5.76,35.0,463.78,545.62,23.0,523.92,20.0,True,False,completed,2011-04-29,2011-04-30,NaN,2011-09-28,2011-04-30,2011,2011-09-28

In [13]:
bigold['funding_status'].value_counts()

completed      995802
expired        417552
reallocated     11815
Name: funding_status, dtype: int64

In [14]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)

#bigold.to_sql('hist_projects', engine, if_exists='append',chunksize=100000)

In [15]:
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

# query:
sql_query = """
SELECT * FROM hist_projects WHERE school_state='NY';
"""
old_NYdata_from_sql = pd.read_sql_query(sql_query,con)

old_NYdata_from_sql.head()

,index,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,school_county,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_prefix,teacher_teach_for_america,primary_focus_subject,primary_focus_area,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,vendor_shipping_charges,sales_tax,payment_processing_charges,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration,calendar_completed,year_completed,calendar_expired
0,374,379fa507f3c2b08e29cb723c8c40cbc1,a006826c170f91f85ff80dc5a132fade,ed047ff4a2b7d048537e32aa1312e949,NaN,40.631962,-73.923897,Brooklyn,NY,11234.0,urban,Integrated Curriculum and Instruction Learning...,Brooklyn,false,true,false,false,false,false,Ms.,false,Health & Wellness,Health & Sports,Early Development,Applied Learning,Supplies,high,Grades PreK-2,40.02,0.0,5.00,35.0,413.54,486.52,18.0,NaN,NaN,false,false,expired,2011-04-28,None,None,2011-09-27,None,None,2011-09-27
1,709,f8a743e97892cd6f9085142a61c64c76,c56fbe939661d88b5aa3678a4a31d104,e63294af8e3628c3e3de354cae587e00,NaN,42.895236,-78.864541,Buffalo,NY,14203.0,urban,New York Dept of Education,Erie,true,false,false,false,false,false,Ms.,false,Character Education,Applied Learning,Literacy,Literacy & Language,Books,high,Grades PreK-2,0.00,0.0,3.16,35.0,248.68,292.56,21.0,NaN,NaN,true,false,expired,2011-04-26,None,None,2011-05-23,None,None,2011-05-23
2,722,d3d4a42461abddcbb9c29b92dc31e540,ef5757268d285a346d7e502258c4766a,ebb0c43252024f8decb56b7f51e59007,NaN,40.687286,-73.988217,Brooklyn,NY,11201.0,urban,Community Learning Support Organization,Brooklyn,false,true,false,false,false,false,Ms.,false,Literature & Writing,Literacy & Language,Mathematics,Math & Science,Supplies,high,Grades PreK-2,1.26,0.0,1.89,35.0,164.13,193.09,23.0,193.09,4.0,true,false,completed,2011-04-25,2011-04-30,None,2011-09-25,2011-04-30,2011,2011-09-25
3,796,6831fac172a9cfe52d204f0f3a4fd399,ef5757268d285a346d7e502258c4766a,ebb0c43252024f8decb56b7f51e59007,NaN,40.687286,-73.988217,Brooklyn,NY,11201.0,urban,Community Learning Support Organization,Brooklyn,false,true,false,false,false,false,Ms.,false,Literacy,Literacy & Language,None,None,Supplies,high,Grades PreK-2,1.30,0.0,1.95,35.0,167.93,197.56,23.0,197.57,3.0,true,false,completed,2011-04-25,2011-04-26,None,2011-09-25,2011-04-26,2011,2011-09-25
4,883,25ec0dcb16c21ce8ea26d0fc8e00bbd7,72c5a20ff38fd2343837ccb562cecede,40c424aef1321dd168205a33a012f783,NaN,40.822346,-73.888969,Bronx,NY,10459.0,urban,Leadership Learning Support Organization,Bronx,false,false,false,false,false,false,Mr.,false,ESL,Literacy & Language,Literacy,Literacy & Language,Technology,high,Grades 3-5,31.14,0.0,4.67,35.0,382.24,449.69,15.0,389.69,2.0,false,false,completed,2011-04-25,2011-04-30,None,2011-09-25,2011-04-30,2011,2011-09-25

In [ ]:
#get all pickle files from folder into a list, 'picks'
picks = sorted(glob.glob("/home/russell/Documents/DataScience/DonorsChoose/Data/Metrics/*pickle")) 
print(len(picks))
#picks = picks[0:4]

#this will create a master list with the same # of elements as projects
basic_list = []
for pf in picks:
    #https://stackoverflow.com/a/3249684/1602288
    stdout.write("\r%s" % pf)
    stdout.flush()
    check=pickle.load(open(pf,"rb"))
    #check=check[['id','proposalURL']]
    if (isinstance(check, pd.DataFrame)) and (len(check.index)>0):
        basic_list.append(check)
    #basic_list.append(check)
    
    
    #basic_list.append(pickle.load(open(pf,"rb")))
    #basic_list = basic_list+(pickle.load(open(picks[0],"rb")))
    #sleep(.4)
stdout.write("\n")

In [ ]:
bigframe = pd.concat(basic_list)
#schoolTypes, teacherTypes #these variables are 'dictionaries' and need to be dealt with
bigframe=bigframe.drop(['schoolTypes', 'teacherTypes'], axis=1)
bigframe.shape

In [ ]:
## insert data into database from Python (proof of concept - this won't be useful for big data, of course)
## df is any pandas dataframe 
bigframe.to_sql('donors_table', engine, if_exists='replace')

In [ ]:
pickle_out = open('/home/russell/Documents/DataScience/DonorsChoose/Data/bigframe.pickle',"wb")
pickle.dump(bigframe, pickle_out)
pickle_out.close()

In [ ]:
#basic_list =pickle.load(open("/home/russell/Documents/DataScience/DonorsChoose/Data/BigFrame.pickle","rb"))

In [ ]:
check="/home/russell/Documents/DataScience/DonorsChoose/Data/Biglist"
pickle_out = open(check+'.pickle',"wb")
pickle.dump(basic_list, pickle_out)
pickle_out.close()

In [ ]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', 999)

In [ ]:
nybig = bigframe[bigframe.state.eq('NY')]
nybig.shape

In [ ]:
#https://stackoverflow.com/a/40121869/1602288
ffd = nybig['fullyFundedDate'].values.tolist()

years=[]

for date in ffd:
    try:
        years.append(parse(str(date), fuzzy=True).year)
    except:   
        years.append(np.nan)

In [ ]:
nybig['ffyear']=years

In [ ]:
# Close the connection
connection.close()

In [ ]:
print(nybig.shape)
print(nydf.shape)

In [ ]:
#nybig: 'latitude','longitude','ffyear'
#nydf: 'school_latitude', 'school_longitude','year_completed'

nybig['latitude']=nybig.latitude.astype(float)
nybig['longitude']=nybig.longitude.astype(float)
nybig = nybig.fillna(0)
nybig['ffyear']=nybig.ffyear.astype(int)
nybig['numDonors']=nybig.numDonors.astype(int)

nydf['school_latitude'] = nydf.school_latitude.astype(float)
nydf['school_longitude'] =nydf.school_longitude.astype(float)
nydf = nydf.fillna(0)
nydf['year_completed']=nydf.year_completed.astype(int)
nydf['num_donors']=nydf.num_donors.astype(int)

In [ ]:
nybig['expirationDate']

In [ ]:
nydf['calendar_expired']

In [ ]:
#https://stackoverflow.com/a/41815118/1602288
new_ny = pd.merge(nybig,nydf,left_on=['latitude','longitude','ffyear','numDonors','expirationDate'],right_on = ['school_latitude', 'school_longitude','year_completed','num_donors','calendar_expired'])

In [ ]:
new_ny.shape

In [ ]:
print(new_ny.loc[[0]])

In [ ]:
bigframe['expirationTime'] = bigframe['expirationTime'].apply(str)
bigframe['expirationTime']=bigframe['expirationTime'].str[1:-5]
bigframe['timeback']=pd.to_numeric(bigframe['expirationTime'])
bigframe['right_date']=pd.to_datetime(bigframe['expirationDate'],format='%Y-%m-%d')
bigframe['start_date'] = bigframe.apply(lambda row: row['right_date'] - timedelta(seconds=row['timeback']),axis = 1)

#bigframe['right_date'] - timedelta(seconds=bigframe['timeback'])



bigframe.head(3)

In [ ]:
bigframe['right_date']=pd.to_datetime(bigframe['expirationDate'],format='%Y-%m-%d')

In [ ]:
bigframe['right_date']=pd.to_datetime(bigframe['expirationDate'].astype(str))

In [ ]:
exp_date = bigframe.expirationDate.values[0]
type(exp_date)
#right_date = date.fromisoformat(exp_date) #gets date into a datetime.date format

## need to back calculate 'start time' using *expirationDate* & *expirationTime*

In [ ]:

fullyFundedDate

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
(bigframe['proposalURL'][0])

In [ ]:
(bigframe['expirationTime'][0])

In [ ]:
for colu in bigframe.columns:
    print(bigframe[colu])

In [ ]:
pd.set_option('display.max_columns', 999)
bigframe.loc[0]

The above line (to_sql) is doing a lot of heavy lifting. It's reading a dataframe, it's creating a table, and adding the data to the table. So ** SQLAlchemy is quite useful! **

In [ ]:
print(bigframe.shape)
print(type(bigframe))
print(bigframe.columns)

In [ ]:
#ok = bigframe.loc[bigframe.astype(str).drop_duplicates().index]
ok = bigframe.drop_duplicates(subset='id') #drop duplicate rows
print(type(ok))
print(ok.shape)

In [ ]:
ok = ok.drop_duplicates(subset="id", keep="first") #for some reason, some duplicate projs were kept, this drops'em

In [ ]:
pd.set_option('display.max_columns', None)
#d.set_option("max_rows", None) #undo by resetting --- pd.reset_option(“max_rows”)

In [ ]:
trailerdict = dict(zip(ok['id'],ok['fulfillmentTrailer']))

In [ ]:
pickle_out = open('/home/russell/Documents/DataScience/DonorsChoose/Data/trailers.pickle',"wb")
pickle.dump(trailerdict, pickle_out)
pickle_out.close()

In [ ]:
donordict = dict(zip(ok['id'],ok['numDonors']))
pickle_out = open('/home/russell/Documents/DataScience/DonorsChoose/Data/donor_num.pickle',"wb")
pickle.dump(donordict, pickle_out)
pickle_out.close()

In [ ]:

trailers =ok['fulfillmentTrailer']

In [ ]:
sns.set_context("poster", font_scale=1.3)

In [ ]:

fig, ax = plt.subplots(figsize=(12, 8))
sns.distplot(ok["numDonors"].dropna())
fig.tight_layout()

In [ ]:
bigframe['fulfillmentTrailer'].value_counts()

In [ ]:
bigframe['id'].value_counts()

In [ ]:
f_trailers = bigframe['fulfillmentTrailer'].array
print(f_trailers)

In [ ]:
type(what)

In [ ]:
len(what)

In [ ]:
w_a = what.array

In [ ]:
len(w_a)

In [ ]:
w_a[0]

In [ ]:
for b in range(10):
    #print(b)
    print(bigframe['fulfillmentTrailer'].array[b])

In [ ]:
bigframe['proposalURL'].value_counts()

In [ ]:
checkdf = pd.DataFrame(project_IDs,columns =['proj_id'])
checkdf
pd.set_option("max_rows", None) #undo by resetting --- pd.reset_option(“max_rows”)
checkdf

In [ ]:
checkdf['proj_id'].value_counts()

In [ ]:
basic_list[0]

In [ ]:
bewild = pd.DataFrame.from_dict(lookat)

In [ ]:
import json
from bs4 import BeautifulSoup

In [ ]:
import scrapy
#modified scrapy settings here:
#/home/russell/anaconda3/envs/insight/lib/python3.8/site-packages/scrapy/settings
#to include the user agents described here: https://www.scrapehero.com/how-to-fake-and-rotate-user-agents-using-python-3/

In [ ]:
df = pd.read_csv("/home/russell/Downloads/opendata_projects.csv", thousands = ',')
pd.set_option('display.max_columns', None)
#pd.set_option("max_rows", None) #undo by resetting --- pd.reset_option(“max_rows”)bb

In [ ]:
current = "https://www.donorschoose.org/common/json_feed.html?showFacetCounts=true&APIKey=H9v7hCeN&max=100&index=0"
historical = "https://www.donorschoose.org/common/json_feed.html?showFacetCounts=true&APIKey=H9v7hCeN&max=40&historical=true&index=0"

In [ ]:
r = requests.get(historical)
data_dict = json.loads(r.text)

In [ ]:
print(data_dict)

In [ ]:
for key in data_dict.items():
    print (key)

In [ ]:
dicts_on_this_page = list(data_dict.values())

proposal_ind = ([list(data_dict.keys()).index('proposals')])[0]  #

proposal_list = dicts_on_this_page[proposal_ind]
#dicts_on_this_page[proposal_ind]
#proposal_ind = which(data.keys()=='proposals')
#print(proposal_ind)
#print(proposals_on_this_page[7])

In [ ]:
proposal_list[0]

In [ ]:
first_proposal = proposal_list[0] #returns dictionary of first proposal items

In [ ]:
type(first_proposal)

In [ ]:
for key in first_proposal.items():
    print (key)

In [ ]:
print(soup)

# _DRAW OUT SCREENS and FUNCTIONALITY GOALS FOR END OF WEEK_



## MONDAY
    Well scoped, clearly-defined problem + some data
## 	TUESDAY
    SQL[organized data] 
## 	WED 
    analytics/working algo/some results ----> (python linked to sql data)
## 	THUR – SQL mapped to PYTHON connected to FLASK (or something)


# GOOD Qs to ASK SELF AND OTHERS
#### 	-What’s actionable about your product?
#### 	-Did you try other models?
#### 	-Is this better than random?
#### 	-Is this better than the simplest model?
#### 	-Why did you choose these inputs?
#### 	-How did you validate this?
#### 	-What are your metrics for success?
#### 	-What are the assumptions of your model?
#### 	-How would you improve this project with more time?

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df['primary_focus_area'].value_counts()

In [ ]:
expired = df[(df['funding_status']=='expired')]

In [ ]:
df['_teacher_acctid'].value_counts()