In [1]:
#Call my other functions
import DonorsChooseFunx

import pandas as pd 
import datetime
from datetime import date

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
today = date.today()
day_of_year = today.timetuple().tm_yday #get day of year

list_o_days=[]
list_o_day_coords=[]
j=0

if (day_of_year+90) <= 364:
    for d in range(day_of_year,day_of_year+91):
        list_o_days.append(d)
        list_o_day_coords.append(DonorsChooseFunx.getxy(d))
        
else:
    for d in range(day_of_year,day_of_year+91):
        if d<=364:
            list_o_days.append(d)
            list_o_day_coords.append(DonorsChooseFunx.getxy(d))
        else:
            list_o_days.append(j)
            list_o_day_coords.append(DonorsChooseFunx.getxy(j))
            j += 1

In [16]:
type(day_of_year)

int

In [7]:
d = datetime.datetime.strptime('{} {}'.format(day_of_year, today.year),'%j %Y')

In [8]:
d

datetime.datetime(2020, 6, 18, 0, 0)

In [9]:
dateDF = pd.DataFrame(list_o_day_coords,columns=['circlx','circly'])

In [18]:
dateDF['dayOFyear']=list_o_days
dateDF.astype({'dayOFyear':'int'}).dtypes

circlx       float64
circly       float64
dayOFyear      int64
dtype: object

In [19]:
datetime.datetime.strptime('{} {}'.format(dateDF.loc[0,'dayOFyear'], today.year),'%j %Y')

datetime.datetime(2020, 6, 18, 0, 0)

In [21]:
dateDF['calendardate']=dateDF.apply(lambda row: (datetime.datetime.strptime('{} {}'.format(int(row['dayOFyear']), today.year),'%j %Y')),axis=1)

     circlx    circly  dayOFyear calendardate
0  0.217390  0.976085        170   2020-06-18
1  0.200582  0.979677        171   2020-06-19
2  0.183715  0.982980        172   2020-06-20
3  0.166794  0.985992        173   2020-06-21
4  0.149824  0.988713        174   2020-06-22

In [24]:
dateDF.iloc[0,1]

0.9760848670081144

In [ ]:
from colour import Color
red = Color("red")
colors = list(red.range_to(Color("green"),365))

In [ ]:
m=1

In [ ]:
x,y=DonorsChooseFunx.getxy(m)

In [ ]:
str(colors[j])

In [ ]:
plt.rcParams["figure.figsize"] = (12,12)
j=0
for m in range(0,364):
    x,y=DonorsChooseFunx.getxy(m)
    plt.scatter(x,y, color=str(colors[j]),alpha=0.5);
    j+=1

In [ ]:
daytuple=DonorsChooseFunx.getxy(day_of_year)
daytuple

In [ ]:
cx, cy = daytuple

In [ ]:
cx

In [25]:
state_you_live = "AK"

In [28]:
scst=['school_state_AK',
 'school_state_AL',
 'school_state_AR',
 'school_state_AZ',
 'school_state_CA',
 'school_state_CO',
 'school_state_CT',
 'school_state_DC',
 'school_state_DE',
 'school_state_FL',
 'school_state_GA',
 'school_state_HI',
 'school_state_IA',
 'school_state_ID',
 'school_state_IL',
 'school_state_IN',
 'school_state_KS',
 'school_state_KY',
 'school_state_LA',
 'school_state_MA',
 'school_state_MD',
 'school_state_ME',
 'school_state_MI',
 'school_state_MN',
 'school_state_MO',
 'school_state_MS',
 'school_state_MT',
 'school_state_NC',
 'school_state_ND',
 'school_state_NE',
 'school_state_NH',
 'school_state_NJ',
 'school_state_NM',
 'school_state_NV',
 'school_state_NY',
 'school_state_OH',
 'school_state_OK',
 'school_state_OR',
 'school_state_PA',
 'school_state_RI',
 'school_state_SC',
 'school_state_SD',
 'school_state_TN',
 'school_state_TX',
 'school_state_UT',
 'school_state_VA',
 'school_state_VT',
 'school_state_WA',
 'school_state_WI',
 'school_state_WV',
 'school_state_WY']

In [27]:
        school_state_AK = 0
        school_state_AL = 0
        school_state_AR = 0
        school_state_AZ = 0
        school_state_CA = 0
        school_state_CO = 0
        school_state_CT = 0
        school_state_DC = 0
        school_state_DE = 0
        school_state_FL = 0
        school_state_GA = 0
        school_state_HI = 0
        school_state_IA = 0
        school_state_ID = 0
        school_state_IL = 0
        school_state_IN = 0
        school_state_KS = 0
        school_state_KY = 0
        school_state_LA = 0
        school_state_MA = 0
        school_state_MD = 0
        school_state_ME = 0
        school_state_MI = 0
        school_state_MN = 0
        school_state_MO = 0
        school_state_MS = 0
        school_state_MT = 0
        school_state_NC = 0
        school_state_ND = 0
        school_state_NE = 0
        school_state_NH = 0
        school_state_NJ = 0
        school_state_NM = 0
        school_state_NV = 0
        school_state_NY = 0
        school_state_OH = 0
        school_state_OK = 0
        school_state_OR = 0
        school_state_PA = 0
        school_state_RI = 0
        school_state_SC = 0
        school_state_SD = 0
        school_state_TN = 0
        school_state_TX = 0
        school_state_UT = 0
        school_state_VA = 0
        school_state_VT = 0
        school_state_WA = 0
        school_state_WI = 0
        school_state_WV = 0
        school_state_WY = 0

In [ ]:
for j in scst:
    if state_you_live in j:

In [31]:
import numpy as np

In [36]:
for st in scst:
    if state_you_live in st:
        st = 1
    else:
        st = 0

In [45]:
school_state = dict()
for s in scst:
    if state_you_live in s:
        school_state[s] = 1
    else:
        school_state[s] = 0

In [46]:
school_state

{'school_state_AK': 1,
 'school_state_AL': 0,
 'school_state_AR': 0,
 'school_state_AZ': 0,
 'school_state_CA': 0,
 'school_state_CO': 0,
 'school_state_CT': 0,
 'school_state_DC': 0,
 'school_state_DE': 0,
 'school_state_FL': 0,
 'school_state_GA': 0,
 'school_state_HI': 0,
 'school_state_IA': 0,
 'school_state_ID': 0,
 'school_state_IL': 0,
 'school_state_IN': 0,
 'school_state_KS': 0,
 'school_state_KY': 0,
 'school_state_LA': 0,
 'school_state_MA': 0,
 'school_state_MD': 0,
 'school_state_ME': 0,
 'school_state_MI': 0,
 'school_state_MN': 0,
 'school_state_MO': 0,
 'school_state_MS': 0,
 'school_state_MT': 0,
 'school_state_NC': 0,
 'school_state_ND': 0,
 'school_state_NE': 0,
 'school_state_NH': 0,
 'school_state_NJ': 0,
 'school_state_NM': 0,
 'school_state_NV': 0,
 'school_state_NY': 0,
 'school_state_OH': 0,
 'school_state_OK': 0,
 'school_state_OR': 0,
 'school_state_PA': 0,
 'school_state_RI': 0,
 'school_state_SC': 0,
 'school_state_SD': 0,
 'school_state_TN': 0,
 'school_state_TX': 0,
 'school_state_UT': 0,
 'school_state_VA': 0,
 'school_state_VT': 0,
 'school_state_WA': 0,
 'school_state_WI': 0,
 'school_state_WV': 0,
 'school_state_WY': 0}

In [41]:
valuearray=np.array([[students_reached,school_state,total_price_excluding_optional_support]])

In [42]:
valuearray

array([[6,
        {'school_state_AK': 0, 'school_state_AL': 0, 'school_state_AR': 0, 'school_state_AZ': 0, 'school_state_CA': 0, 'school_state_CO': 0, 'school_state_CT': 0, 'school_state_DC': 0, 'school_state_DE': 0, 'school_state_FL': 0, 'school_state_GA': 0, 'school_state_HI': 0, 'school_state_IA': 0, 'school_state_ID': 0, 'school_state_IL': 0, 'school_state_IN': 0, 'school_state_KS': 0, 'school_state_KY': 0, 'school_state_LA': 0, 'school_state_MA': 0, 'school_state_MD': 0, 'school_state_ME': 0, 'school_state_MI': 0, 'school_state_MN': 0, 'school_state_MO': 0, 'school_state_MS': 0, 'school_state_MT': 0, 'school_state_NC': 0, 'school_state_ND': 0, 'school_state_NE': 0, 'school_state_NH': 0, 'school_state_NJ': 0, 'school_state_NM': 0, 'school_state_NV': 0, 'school_state_NY': 0, 'school_state_OH': 0, 'school_state_OK': 0, 'school_state_OR': 0, 'school_state_PA': 0, 'school_state_RI': 0, 'school_state_SC': 0, 'school_state_SD': 0, 'school_state_TN': 0, 'school_state_TX': 0, 'school_state_UT': 0, 'school_state_VA': 0, 'school_state_VT': 0, 'school_state_WA': 0, 'school_state_WI': 0, 'school_state_WV': 0, 'school_state_WY': 0, 'AK': 1},
        252.5]], dtype=object)

In [49]:
startingvals = [6,7,8]

In [50]:
endingvals = [9,10,11]

In [51]:
for value in school_state:
    startingvals.append(value)
    
startingvals.append(endingvals)